﻿
@{
    ViewBag.Title = "Api docs";
}
@Html.Partial("Insideheader")
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
    <style>
        .fright {
            float: right;
        }
    </style>
    <script>
        var myapp = angular.module('myapp', []);
        myapp.controller('mycntrl', function ($scope, $http, $window)
        {

            $scope.get_request = function (TableName, Method, Apikey, url)
            {
                $http
                    ({
                        method: Method,
                        url: url + TableName,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        }
                    }).then(function (response) {
                        $scope.Getresponse = response;
                        $scope.Getresponse.data = angular.toJson($scope.Getresponse.data);
                        console.log($scope.Getresponse.data)
                    }), function (error)
                    {
                        $scope.Getresponse = error;
                    }
            }
            $scope.get_request1 = function (TableName, Method, Apikey, url,value)
            {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/" + value,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        }
                    }).then(function (response) {
                        $scope.Geresponse = response;
                        $scope.Geresponse.data = angular.toJson($scope.Geresponse.data);
                        console.log($scope.Geresponse.data)
                    }), function (error)
                    {
                        $scope.Geresponse = error;
                    }
            }
            $scope.put_request = function (TableName, Method, Apikey, url,value,Body)
            {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/" + value,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        },
                        data:Body
                    }).then(function (response) {
                        $scope.Putresponse = response;
                        $scope.Putresponse.data = angular.toJson($scope.Putresponse.data);
                        console.log($scope.Putresponse.data)
                    }), function (error)
                    {
                        $scope.Putresponse = error;
                    }
            }
            $scope.post_request = function (TableName, Method, Apikey, url,Body)
            {
                $http
                    ({
                        method: Method,
                        url: url + TableName,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        },
                        data:Body
                    }).then(function (response) {
                        $scope.Postresponse = response;
                        $scope.Postresponse.data = angular.toJson($scope.Postresponse.data);
                        console.log($scope.Postresponse.data)
                    }), function (error)
                    {
                        $scope.Postresponse = error;
                    }
            }
            $scope.delete_request = function (TableName, Method, Apikey, url, value) {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/" + value,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        }
                    }).then(function (response) {
                        $scope.deleteresponse = response;
                        $scope.deleteresponse.data = angular.toJson($scope.Getresponse.data);
                        console.log($scope.deleteresponse.data)
                    }), function (error) {
                        $scope.deleteresponse = error;
                    }
            }
            $scope.get_request2 = function (TableName, Method, Apikey, url, condition) {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/where?condition=" + condition,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        }
                    }).then(function (response) {
                        $scope.get1response = response;
                        $scope.get1response.data = angular.toJson($scope.get1response.data);
                        console.log($scope.get1response.data)
                    }), function (error) {
                        $scope.get1response = error;
                    }
            }
            $scope.get_request3 = function (TableName, Method, Apikey, url, Attributename,Attributevalue) {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/where/" + Attributename + "/" + Attributevalue,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        }
                    }).then(function (response) {
                        $scope.get2response = response;
                        $scope.get2response.data = angular.toJson($scope.get2response.data);
                        console.log($scope.get2response.data)
                    }), function (error) {
                        $scope.get2response = error;
                    }
            }
            $scope.put_request1 = function (TableName, Method, Apikey, url, Attributename,Attributevalue,Body) {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/where/" + Attributename + "/" + Attributevalue,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        },
                        data: Body
                    }).then(function (response) {
                        $scope.put1response = response;
                        $scope.put1response.data = angular.toJson($scope.put1response.data);
                        console.log($scope.put1response.data)
                    }), function (error) {
                        $scope.put1response = error;
                    }
            }
            $scope.delete_request1 = function (TableName, Method, Apikey, url, Attributename, Attributevalue) {
                $http
                    ({
                        method: Method,
                        url: url + TableName + "/where/" + Attributename + "/" + Attributevalue,
                        headers:
                        {
                            "Content-Type": "application/json",
                            api_key: Apikey
                        }
                    }).then(function (response) {
                        $scope.delete1response = response;
                        $scope.delete1response.data = angular.toJson($scope.delete1response.data);
                        console.log($scope.delete1response.data)
                    }), function (error) {
                        $scope.delete1response = error;
                    }
            }

        })
    </script>
</head>
<body>
    <div class="container mtop" ng-app="myapp" ng-controller="mycntrl">
        <div class="panel-group" id="accordion">
            <div class="panel panel-success mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>GET :</b>API/_TABLE/VALUES/{TABLE NAME}</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <form ng-submit="get_request(TableName,'GET',Apikey,'/API/_TABLE/VALUES/')">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <label>Table Name</label>
                                                <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                            </div>
                                            <div class="col-md-6">
                                                <label>Api Key</label>
                                                <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                            </div>
                                        </div>
                                        <div class="col-md-12 mtop">
                                            <div class="col-md-12">
                                                <input class="btn btn-primary fright" type="submit" value="Send" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-12 mtop">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <b>Result</b>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Status:</b>
                                            <input type="text" disabled="disabled" ng-model="Getresponse.status" />
                                        </div>
                                    </div>
                                    <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="Getresponse.data"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>GET :</b>API/_TABLE/VALUES/{TABLE NAME}/{id}</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="get_request1(TableName,'GET',Apikey,'/API/_TABLE/VALUES/',value)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>ID</label>
                                            <input type="text" class="form-control" placeholder="Value" ng-model="value" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary fright" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="Geresponse.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="Geresponse.data"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>PUT :</b>API/_TABLE/VALUES/{TABLE NAME}/{id}</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="put_request(TableName,'PUT',Apikey,'/API/_TABLE/VALUES/',value,Body)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>ID</label>
                                            <input type="text" class="form-control" placeholder="Value" ng-model="value" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <label>Body</label>
                                            <textarea cols="20" rows="10" class="form-control mtop" placeholder="Body" ng-model="Body" required></textarea>
                                            <input class="btn btn-primary fright mtop" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="Putresponse.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="Putresponse.data" required></textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><b>POST :</b>API/_TABLE/VALUES/{TABLE NAME}</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="post_request(TableName,'POST',Apikey,'/API/_TABLE/VALUES/',Body)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>

                                        <div class="col-md-6">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <label>Body</label>
                                            <textarea cols="20" rows="10" class="form-control mtop" placeholder="Body" ng-model="Body" required></textarea>
                                            <input class="btn btn-primary fright mtop" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="Postresponse.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="Postresponse.data" required></textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><b>DELETE :</b>API/_TABLE/VALUES/{TABLE NAME}/{id}</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="delete_request(TableName,'DELETE',Apikey,'/API/_TABLE/VALUES/',value)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>ID</label>
                                            <input type="text" class="form-control" placeholder="Value" ng-model="value" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary fright" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="deleteresponse.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="deleteresponse.data"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><b>GET :</b>API/_TABLE/VALUES/{TABLE NAME}/WHERE?CONDITION={condition}</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="get_request2(TableName,'GET',Apikey,'/API/_TABLE/VALUES/',condition)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Condition</label>
                                            <input type="text" class="form-control" placeholder="Condition" ng-model="condition" required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary fright" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="get1response.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="get1response.data"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><b>GET :</b>API/_TABLE/VALUES/{TABLE NAME}/WHERE/{ATTRIBUTE NAME}/{ATTRIBUTE VALUE}</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="get_request3(TableName,'GET',Apikey,'/API/_TABLE/VALUES/',Attributename,Attributevalue)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Attribute Name</label>
                                            <input type="text" class="form-control" placeholder="Attribute Name" ng-model="Attributename" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Attribute Value</label>
                                            <input type="text" class="form-control" placeholder="Attribute Value" ng-model="Attributevalue" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary fright" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="get2response.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="get2response.data"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><b>PUT :</b>API/_TABLE/VALUES/{TABLE NAME}/WHERE/{ATTRIBUTE NAME}/{ATTRIBUTE VALUE}</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="put_request1(TableName,'PUT',Apikey,'/API/_TABLE/VALUES/',Attributename,Attributevalue,Body)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Attribute Name</label>
                                            <input type="text" class="form-control" placeholder="Attribute Name" ng-model="Attributename" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Attribute Value</label>
                                            <input type="text" class="form-control" placeholder="Attribute Value" ng-model="Attributevalue" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <label>Body</label>
                                            <textarea cols="20" rows="10" class="form-control mtop" placeholder="Body" ng-model="Body" required></textarea>
                                            <input class="btn btn-primary fright mtop" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="put1response.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="put1response.data"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger mtop">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9"><b>DELETE :</b>API/_TABLE/VALUES/{TABLE NAME}/WHERE/{ATTRIBUTE NAME}/{ATTRIBUTE VALUE}</a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <form ng-submit="delete_request1(TableName,'DELETE',Apikey,'/API/_TABLE/VALUES/',Attributename,Attributevalue)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label>Table Name</label>
                                            <input class="form-control" type="text" placeholder="Table Name" ng-model="TableName" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Attribute Name</label>
                                            <input type="text" class="form-control" placeholder="Attribute Name" ng-model="Attributename" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Attribute Value</label>
                                            <input type="text" class="form-control" placeholder="Attribute Value" ng-model="Attributevalue" required />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Api Key</label>
                                            <input class="form-control" type="text" placeholder="Api Key" ng-model="Apikey" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 mtop">
                                        <div class="col-md-12">
                                            <input class="btn btn-primary fright" type="submit" value="Send" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mtop">
                                <div class="row">
                                    <div class="col-md-7">
                                        <b>Result</b>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Status:</b>
                                        <input type="text" disabled="disabled" ng-model="delete1response.status" />
                                    </div>
                                </div>
                                <textarea cols="20" rows="10" class="form-control mtop" ng-disabled="true" ng-model="delete1response.data"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
