﻿
@{
                /**/

                ViewBag.Title = "App";
}
@Html.Partial("Insideheader")
<head>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="~/Scripts/ngclipboard.min.js"></script>
    <script>
        var key;
        var myapp = angular.module('myapp', ['ngRoute', 'ngclipboard']);
        myapp.filter('ceilFilter', function () {
            return function (data) {
                return Math.ceil(data);
            };
        });
        myapp.service("myservice", function () {

            var App = {};

            return {
                getApp: function () {
                    return App;
                },
                setApp: function (value) {
                    App = value;
                }
            };

        });

        myapp.config(['$routeProvider', function ($routeProvider) {
            $routeProvider.when('/manageapps',
                {
                    templateUrl: 'manageapp.htm',
                }).when('/createapp',
                    {
                        templateUrl: 'createapp.htm',
                    }).when('/manageapp',
                        {
                            templateUrl: 'mngapp.htm',
                        }).otherwise(
                            {
                                redirectTo: '/manageapps'
                            });
        }]);
        myapp.controller('mngcntrl', function ($scope, $http, $window, myservice) {


            $scope.deleteApp = function (id)
            {
                var k = confirm("Are you sure");
                if (k) {
                    $http({
                        method: 'DELETE',
                        url: "/api/appps/" + id,
                        headers: {
                            "Content-Type": "application/json",
                            "authenticatekey": key
                        }
                    }).then(function (response) {
                        if (response.status == 200) {
                            alert(response.data);
                            $window.location.reload();
                        }
                    }), function (error) {
                            console.log(error);
                        }
                }
            }
            $scope.load = function () {


                $scope.U = JSON.parse(sessionStorage.user);
                key = $scope.U.username;
                $http({
                    method:'GET',
                    url: '/api/appps',
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.dataList = response.data;



                        $scope.currentPage = 1;
                        $scope.total_show = "5";
                        $scope.numberOfPages = 10;

                        $scope.pagenumber = true;
                        $scope.totla_result_showing = true;
                        $scope.totla_result_showing_onsearcchh = false;

                        $scope.sortKey = function (key) {
                            $scope.currentPage = 1;
                            $scope.myOrderBy = key;
                        };

                    $scope.maxtotal = Math.ceil($scope.dataList.length / parseInt($scope.total_show));
                        $scope.changeTotalShow = function () {
                            $scope.maxtotal = Math.ceil($scope.dataList.length / parseInt($scope.total_show));
                        };


                }),
                    function (error) {
                        console.log(error);
                    }
            }
            $scope.myfunction = function (App) {

                myservice.setApp(App);
            }

        });
        myapp.controller('createcntrl', function ($scope, $http, $window)
        {
            $scope.Saveapp = function ()
            {
                $scope.App.Createdby = JSON.parse(sessionStorage.user);
                $http({
                    method: 'POST',
                    url: "/api/appps",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    },
                    data:$scope.App
                }).then(function (response)
                {
                    if (response.status == 201)
                    {
                        alert(response.data);
                        $window.open("#manageapps", '_self');
                    }
                }), function (error)
                {
                    console.log(error)
                }
            }
        });
        myapp.controller('editcntrl', function ($scope, $http, $window, myservice)
        {

            $scope.load = function () {
                $scope.App = myservice.getApp();
                $scope.Name = $scope.App.Name;
                if ($scope.App.Name ==null)
                {
                    $window.open("#manageapps", '_self');
                }
                $scope.updateapp = function ()
                {
                    $http({
                        method: 'PUT',
                        url: "/api/appps",
                        headers: {
                            "Content-Type": "application/json",
                            "authenticatekey": key
                        },
                        data:$scope.App
                    }).then(function (response)
                    {
                        if (response.status == 200)
                        {
                            alert(response.data);
                            $window.location.reload();
                        }
                    }), function (error)
                    {
                        console.log(error);
                    }
                }
            }
        });
    </script>
</head>
<div class="col-md-12 mtop">
    <div class="row" ng-app="myapp">
        <div class="col-md-2">
            <ul class=" nav nav-pills nav-stacked">
                <li class="libg"><a class="active" href="#createapp">Create Apps</a></li>
                <li class="libg"><a href="#manageapps">Manage Apps</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ng-view>
                <script type="text/ng-template" id="manageapp.htm">
                    <style>
                        * {
                            margin: 0;
                            padding: 0;
                            border: 0;
                            list-style: none;
                        }

                        select,
                        input {
                            border: 1px solid;
                            width: auto;
                            padding: 5px 10px;
                        }

                        .list {
                            width: 100%;
                            display: inline-block;
                        }

                            .list .head {
                                background: #eee;
                                display: inline-block;
                                padding: 5px;
                                margin: 10px 0 0 0;
                            }

                                .list .head span {
                                    cursor: pointer;
                                    width: 100px;
                                    float: left;
                                }

                        .data {
                            display: inline-block;
                            padding: 3px;
                            width: 100%;
                        }

                            .data span {
                                width: 100px;
                                float: left;
                            }



                        .hide {
                            display: none;
                        }

                        .page-number {
                        }

                            .page-number button {
                                display: inline-block;
                                float: left;
                                padding: 3px 5px;
                                background: #f5f5f5;
                                border: 1px solid #eee;
                                margin: 5px 3px
                            }

                        .current-page-btn {
                            background: #7aceff !important;
                        }

                        .list .head {
                            width: 100%;
                            color: #a5a5a5;
                        }

                        ul.list {
                            margin-bottom: 30px;
                        }

                        .data {
                            width: 100%;
                            border-bottom: 1px solid #f9f9f9;
                            padding: 8px 13px;
                        }

                            .list .head span, .data span {
                                width: 26.3%;
                            }

                        .page-number button {
                            padding: 10px 20px;
                            border-radius: 3px;
                        }

                        .current-page-btn {
                            color: #fff;
                            border: 1px solid #5ab3e6 !important;
                        }

                        .noresult {
                            width: 101%;
                            text-align: center;
                            padding: 20px 0;
                            color: #d4a7a7;
                            font-size: 20px;
                            background: #f9f9f9;
                            margin: -3px 0 0 0;
                        }

                        /* beauty styles */
                        * {
                            font-family: 'lato', sans-serif;
                        }



                        .dataTable {
                            margin: 30px auto;
                            width: 90%;
                            max-width: 800px;
                            background: #fff;
                            box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                            -o-box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                            -moz-box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                            -webkit-box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                            padding: 20px;
                        }

                        .left {
                            float: left !important;
                        }

                        .right {
                            float: right !important;
                        }

                        .m3 {
                            width: 20%;
                        }

                        .m6 {
                            width: 70%;
                            text-align: right;
                            margin-bottom: 10px;
                        }

                            .m3 span,
                            .m6 span {
                                color: #b3b3b3;
                                font-size: 16px;
                            }

                        input,
                        select {
                            border: 1px solid #eee;
                            border-radius: 5px;
                        }

                        .lightColor {
                            color: #a2a2a2;
                        }

                            .lightColor b {
                                padding: 0 5px;
                            }

                        .bl {
                            background-color: #337ab7;
                            color: white;
                        }

                        .al {
                            border: 1px solid rgb(6, 0, 85);
                            text-align: center;
                        }

                        .bt {
                            border-bottom: 1px solid rgb(196, 196, 196);
                        }

                        .widt {
                            width: 10% !important;
                        }
                    </style>
                    <ul class="breadcrumb br">Manage Apps</ul>
                    <div class="container-fluid" ng-controller="mngcntrl">
                        <div ng-init="load()">

                            <div>
                                <div class="m3 left">
                                    <span style="color:black;"><b>Show</b> </span>
                                    <select ng-model="total_show" ng-change="changeTotalShow()">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>

                                <div class="m6 right">
                                    <input type="text" ng-model="search" placeholder="Search ...">
                                </div>

                                <ul style="background-color:#fbfafa" class="table table-bordered list">
                                    <li class="head bl bt">
                                        <span class="widt bl al">&nbsp;</span>
                                        <span class="widt bl al">Sr.no</span>
                                        <span class="bl al" ng-click="sortKey('Name')">Name</span>

                                        <span class="bl al" ng-click="sortKey('isactive')">Active</span>

                                        <span class="bl al" ng-click="sortKey('Description')">Description</span>
                                    </li>

                                    <li class="data bt" ng-repeat="App in dataList | filter:search | limitTo:total_show:start_from | orderBy:myOrderBy">

                                        <span class="text-center widt"><button class=" btn btn-sm" ng-click="deleteApp(App.id)"><i class="fa fa-trash"></i></button></span>
                                        <a href="#manageapp" ng-click="myfunction(App)">
                                            <span class="text-center widt">{{$index+1}}</span>
                                            <span class="text-center">{{App.Name}}</span>
                                            <span class="text-center">{{App.isactive}}</span>
                                            <span class="text-center" ng-if="App.Description!=''">{{App.Description}}</span>
                                            <span class="text-center" ng-if="App.Description==''">--NA--</span>
                                        </a>
                                    </li>



                                    <li class="noresult" ng-if="!(dataList|filter:search).length">No App found</li>

                                </ul>

                                <div class="container-fluid">
                                    <div class="page-number">
                                        <div class="row">
                                            <button ng-disabled="currentPage <= 1" ng-click="currentPage = currentPage - 1">Previous</button>
                                            <button ng-click="currentPage = 1" ng-show="currentPage >= 3">1</button>
                                            <button ng-show="currentPage >= 4" disabled>...</button>

                                            <span>
                                                <button ng-show="currentPage > 1" ng-click="currentPage = currentPage - 1">{{currentPage - 1 | ceilFilter}}</button>
                                                <button class="current-page-btn">{{currentPage | ceilFilter}}</button>
                                                <button ng-disabled="currentPage >= total_page" ng-show="currentPage < maxtotal" ng-click="currentPage = currentPage + 1">{{currentPage + 1 | ceilFilter}}</button>
                                            </span>

                                            <button class="btn-disabled" ng-hide="currentPage >= maxtotal -1" disabled>...</button>
                                            <button ng-disabled="currentPage >= maxtotal -1" ng-click="currentPage = currentPage + 1">Next</button>

                                        </div>
                                    </div>
                                    <!-- #channel-page-number -->
                                </div>
                                <!-- Details -->
                                <br>
                                <div class="m3 left lightColor">Total Page: {{maxtotal}}</div>
                                <div class="m6 right lightColor">
                                    <div ng-show="totla_result_showing">
                                        Showing <b>{{start_from}}</b> to <b>{{(start_from * 1) + (total_show * 1)}}</b>, of <b>{{(dataList|filter:search).length}}</b> items
                                    </div>
                                </div>



                                <div class="hide">
                                    {{currentPage}} {{total_list = dataList.length}} {{total_page = total_list / total_show}} {{start_from = ((currentPage -1) * total_show) }} {{total_show}}
                                </div>

                            </div>



                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="createapp.htm">

                    <ul class="breadcrumb br">Create Apps</ul>
                    <div ng-controller="createcntrl">
                        <div class="container-fluid col-xs-12">
                            <form class="form-group" name="appcreateform" ng-submit="Saveapp()">
                                <div class="form-group">
                                    <label class="mtop">Application Name&nbsp;<i class="fa fa-info-circle"></i></label>
                                    <input type="text" id="name" name="name" ng-model="App.Name" class="form-control" placeholder="Application Name" required />
                                </div>
                                <div class="form-group">
                                    <label class="mtop">Description&nbsp;<i class="fa fa-info-circle"></i></label>
                                    <input type="text" id="description" name="description" ng-model="App.Description" class="form-control" placeholder="Description" />
                                </div>

                                <div class="mtop form-group">
                                    <input type="checkbox" name="active" id="active" ng-model="App.isactive" required />&nbsp;<label>Active</label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" ng-disabled="appcreateform.$invalid" value="Save" class="btn btn-success" />
                                    <button type="button" class="btn btn-warning" onclick="window.history.back()">Back</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="mngapp.htm">
                    <div ng-controller="editcntrl" ng-init="load()">
                        <ul class="breadcrumb br">Edit {{Name}}</ul>
                        <div class="container-fluid col-xs-12">
                            <form class="form-group" name="appupdateform" ng-submit="updateapp()">
                                <div class="form-group">
                                    <label class="mtop">Application Name&nbsp;<i class="fa fa-info-circle"></i></label>
                                    <input type="text" id="name" name="name" ng-model="App.Name" class="form-control" placeholder="Application Name" required />
                                </div>
                                <div class="form-group">
                                    <label class="mtop">Description&nbsp;<i class="fa fa-info-circle"></i></label>
                                    <input type="text" id="description" name="description" ng-model="App.Description" class="form-control" placeholder="Description" />
                                </div>
                                <div class="row col-md-8">
                                    <label class="mtop">Api Key</label>
                                    <div class="alert alert-info">
                                        {{App.Api_key}}&nbsp;<button type="button" class="btn btn-sm btn-info" ngclipboard data-clipboard-text="{{App.Api_key}}"><i class="fa fa-clipboard"></i></button>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="mtop form-group">
                                        <input type="checkbox" name="active" id="active" ng-model="App.isactive" />&nbsp;<label>Active</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" ng-disabled="appupdateform.$invalid" value="Save" class="btn btn-success" />
                                        <button type="button" class="btn btn-warning" onclick="window.history.back()">Back</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>
