﻿
@{
    ViewBag.Title = "Data";
}
@Html.Partial("Insideheader")
<head>

    <style>
        .bg-col {
            background-color: black !important;
            color: lawngreen !important;
        }
    </style>
    <script>
        var myapp = angular.module('myapp', ['ngRoute']);
        myapp.config(['$routeProvider', function ($routeProvider) {
            $routeProvider.when('/managedata',
                {
                    templateUrl: 'managedata.htm',
                }).when('/addvalue',
                    {
                        templateUrl: 'addvalue.htm',
                    }).otherwise(
                        {
                            redirectTo: '/managedata'
                        });
        }]);
        myapp.controller('mngcntrl', function ($scope, $http,$window) {
            $scope.load = function () {
                $scope.U = JSON.parse(sessionStorage.user);
                key = $scope.U.username;
                $scope.Tables = [];
                $http({
                    method: 'GET',
                    url: '/api/service',
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key}
                }).then(function (response) {
                    if (response.status == 200) {
                        $scope.ServiceRoles = response.data;
                    }

                }), function (error) {
                    console.log(error);
                }
            }

            $scope.getTables = function () {
                $scope.Table_fields_constraints = null;
                $http({
                    method: 'GET',
                    url: '/api/table/' + $scope.Service.id,
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key}
                }).then(function (response) {
                    $scope.Tables = response.data;
                    console.log($scope.Tables);
                }),
                    function (error) {
                        console.log(error);
                    }
            }
            $scope.getTable_fields = function () {
                $http({
                    method: 'GET',
                    url: '/api/Db_table/' + $scope.Db_tables.id,
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.Table_fields_constraints = response.data;
                    $scope.colspan = $scope.Table_fields_constraints.length;
                    console.log($scope.colspan);
                    console.log($scope.Table_fields_constraints);

                }), function (error) {
                    console.log(error);
                }

                $http({
                    method: 'GET',
                    url: '/api/Data/' + $scope.Db_tables.id,
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    if (response.status == 200) {
                        $scope.Data = (response.data);
                        console.log($scope.Data);
                        for (var j in $scope.Data) {
                            $scope.cols = Object.keys($scope.Data[j]);
                        }
                            console.log($scope.cols);

                    }
                }

                ), function (error) {
                    console.log(error);
                }
            }
            $scope.deleterecord = function (Data)
            {
                $scope.Body = Data;
                console.log($scope.Body);
                $http({
                    method: 'PUT',
                    url: '/api/Data/' + $scope.Db_tables.id,
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    },
                    data:$scope.Body
                }).then(function (response) {
                    if (response.status == 200)
                    {
                        alert('Successfuly deleted');
                        $window.location.reload();
                    }

                }), function (error)
                {
                    console.log(error);
                }
            }
            $scope.AddValue = function () {
                $scope.Body = "{";
                for (var x in $scope.Table_fields_constraints) {
                    debugger;
                    var value = document.getElementById($scope.Table_fields_constraints[x].Field.Name).value;
                    if (value != "") {
                        $scope.Body += "'" + $scope.Table_fields_constraints[x].Field.Name + "':'" + value + "',"
                    }
                }
                $scope.Body += "}";
                $http({
                    method: 'POST',
                    url: '/api/Data?table_id=' + $scope.Db_tables.id,
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    },
                    data:$scope.Body
                }).then(function (response) {
                    if (response.status == 200) {
                        alert('Successfully inserted');
                        $window.open('#managedata', '_self');
                    }
                }), function (error)
                {
                    console.log(error);
                }
            }
        });
    </script>
</head>
<div class="col-md-12 mtop" ng-app="myapp" ng-controller="mngcntrl" ng-init="load()">
    <div class="panel panel-primary mtop">
        <div class="panel-heading">
            <label>SET SERVICES</label>
        </div>

        <div class="panel-body">
            <select class="form-control" ng-options="ServiceRole.Service as ServiceRole.Service.Name for ServiceRole in ServiceRoles" ng-model="Service" ng-change="getTables()">
                <option value="" selected disabled>--Select Service--</option>
            </select>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <label>Table</label>
        </div>
        <div class="panel-body">
            <select class="form-control" ng-options="Table.Name for Table in Tables" ng-model="Db_tables" ng-change="getTable_fields()">
                <option value="" selected disabled>--Select Table--</option>
            </select>
        </div>
    </div>
    <div ng-view>
        <script id="managedata.htm" type="text/ng-template">
            <div ng-show="Table_fields_constraints!=null">
                <table class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <td ng-repeat="Table_Field in Table_fields_constraints">{{Table_Field.Field.Name}}</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Data">
                            <td ng-repeat="x in cols">{{item[x]}}</td>
                            <td><i class="btn btn-sm fa fa-trash" ng-click="deleterecord(item)"></i></td>
                        </tr>
                        <tr>
                            <td colspan="{{colspan+1}}"><center><a href="#addvalue" class="btn btn-default">Add Value</a></center></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </script>
        <script id="addvalue.htm" type="text/ng-template">
            <div ng-show="Table_fields_constraints!=null" class="panel panel-default panel-body">
                <div class="panel-heading bg-col">{{Db_tables.Name}}</div>
                <form name="addvalueform" ng-submit="AddValue()">
                    <div class="form-group" ng-repeat="Table_Field in Table_fields_constraints">
                        <div ng-if="Table_Field.Field.PropertyType=='NVARCHAR'||Table_Field.Field.PropertyType=='CHAR'||Table_Field.Field.PropertyType=='VARCHAR'||Table_Field.Field.Propertytype=='TEXT'||Table_Field.Field.PropertyType=='NCHAR'||Table_Field.Field.PropertyType=='NTEXT'||Table_Field.Field.PropertyType=='BINARY'||Table_Field.Field.PropertyType=='VARBINARY'">
                            <label>{{Table_Field.Field.Name}}</label>
                            <input class="form-control" type="text" placeholder="{{Table_Field.Field.Name}}" name="{{Table_Field.Field.Name}}" id="{{Table_Field.Field.Name}}" ng-required="Table_Field.Primarykey!=null || Table_Field.Notnull!=null" />
                        </div>
                        <div ng-if="Table_Field.Field.PropertyType=='TINYINT'||Table_Field.Field.PropertyType=='SMALLINT'||Table_Field.Field.PropertyType=='INT'||Table_Field.Field.Propertytype=='BIGINT'||Table_Field.Field.PropertyType=='REAL'||Table_Field.Field.PropertyType=='DECIMAL'||Table_Field.Field.PropertyType=='NUMERIC'||Table_Field.Field.PropertyType=='FLOAT'">
                            <label>{{Table_Field.Field.Name}}</label>
                            <input class="form-control" type="number" placeholder="{{Table_Field.Field.Name}}" name="{{Table_Field.Field.Name}}" id="{{Table_Field.Field.Name}}" ng-required="Table_Field.Primarykey!=null || Table_Field.Notnull!=null" />
                        </div>
                        <div ng-if="Table_Field.Field.PropertyType=='BIT'">
                            <input type="checkbox" value="1" name="{{Table_Field.Field.Name}}" id="{{Table_Field.Field.Name}}" ng-required="Table_Field.Primarykey!=null || Table_Field.Notnull!=null" />
                            <b>{{Table_Field.Field.Name}}</b>
                        </div>
                        <div ng-if="Table_Field.Field.PropertyType=='DATETIME'||Table_Field.Field.PropertyType=='DATETIME2'||Table_Field.Field.PropertyType=='TIMESTAMP'">
                            <label>{{Table_Field.Field.Name}}</label>
                            <input class="form-control" type="datetime-local" name="{{Table_Field.Field.Name}}" id="{{Table_Field.Field.Name}}" ng-required="Table_Field.Primarykey!=null || Table_Field.Notnull!=null" />
                        </div>
                        <div ng-if="Table_Field.Field.PropertyType=='DATE'">
                            <label> {{Table_Field.Field.Name}}</label>
                            <input class="form-control" type="date" name="{{Table_Field.Field.Name}}" id="{{Table_Field.Field.Name}}" ng-required="Table_Field.Primarykey!=null || Table_Field.Notnull!=null" />

                        </div>
                        <div ng-if="Table_Field.Field.PropertyType=='TIME'">
                            <label>{{Table_Field.Field.Name}}</label>
                            <input class="form-control" type="time" name="{{Table_Field.Field.Name}}" id="{{Table_Field.Field.Name}}" ng-required="Table_Field.Primarykey!=null || Table_Field.Notnull!=null" />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-primary" ng-disabled="addvalueform.$invalid" />
                        <button type="button" class="btn btn-warning" onclick="window.history.back()">Back</button>
                    </div>
                </form>
            </div>
        </script>
    </div>
</div>