﻿@{
    ViewBag.Title = "Home";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>

    <style>
        body {
            position: relative !important;
        }

        .bg-red {
            background-color: #dd4b39 !important;
        }

        .bg-yellow {
            background-color: #f39c12 !important;
        }

        .bg-green {
            background-color: #00a65a !important;
        }

        .bg-aqua {
            background-color: #00c0ef !important;
        }

        .small-box {
            border-radius: 2px;
            position: relative;
            display: block;
            margin-bottom: 20px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        }

        .inner {
            color: #fff !important;
            margin: 10px;
            padding: 20px;
        }

        .icon {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            position: absolute;
            top: -10px;
            right: 10px;
            z-index: 0;
            font-size: 90px;
            color: rgba(0,0,0,0.15);
        }

        .small-box-footer {
            position: relative;
            text-align: center;
            padding: 3px 0;
            color: #fff;
            color: rgba(255,255,255,0.8);
            display: block;
            z-index: 10;
            background: rgba(0,0,0,0.1);
            text-decoration: none;
        }

        .ion .ion-bag {
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    </style>
    <script>
        var myapp = angular.module('myapp', ['ngTable']);
        myapp.controller('mycntrl', function ($scope, $http, NgTableParams) {
            $scope.load = function () {
                $scope.U = JSON.parse(sessionStorage.user);
                key = $scope.U.username;
                $scope.user_Count = 0;
                $http({
                    method: 'GET',
                    url: '/api/user/'
                    , headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.Body = response.data;
                    $scope.user_Count = $scope.Body.length;
                }), function (error) {
                    console.log(error);
                }
                $http({
                    method: 'GET',
                    url: '/api/appps/'
                    , headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.App = response.data;
                    $scope.tableParams = new NgTableParams({}, { dataset: $scope.App });
                    $scope.Apps_Count = $scope.App.length;
                }), function (error) {
                    console.log(error);
                }
                $http({
                    method: 'GET',
                    url: '/api/role/'
                    , headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.role = response.data;
                    $scope.role_Count = $scope.role.length;
                }), function (error) {
                    console.log(error);
                }
                $http({
                    method: 'GET',
                    url: '/api/service/'
                    , headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.service = response.data;
                    $scope.service_Count = $scope.service.length;
                }), function (error) {
                    console.log(error);
                }
            }
        });
    </script>
</head>
<body>

    @Html.Partial("InsideHeader")
    <div class="row container-fluid" ng-app="myapp" ng-controller="mycntrl" ng-init="load()">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{user_Count}}</h3>

                        <p><h4>TOTAL USERS</h4></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="/Homepage/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{Apps_Count}}</h3>

                        <p><h4>TOTAL APPS</h4></p>
                    </div>
                    <div class="icon">
                        <i class="ion fa fa-desktop"></i>
                    </div>
                    <a href="/Homepage/app" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{role_Count}}</h3>

                        <p><h4>TOTAL ROLES</h4></p>
                    </div>
                    <div class="icon">
                        <i class="ion fa fa-fw fa-users"></i>
                    </div>
                    <a href="/Homepage/role" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{service_Count}}</h3>

                        <p><h4>TOTAL SERVICES</h4></p>
                    </div>
                    <div class="icon">
                        <i class="ion fa fa-fw fa-database"></i>
                    </div>
                    <a href="/Homepage/Service" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Apps</div>
                <table ng-table="tableParams" class="table table-bordered table-responsive table-striped" show-filter="true">
                    <tr ng-repeat="app in $data">
                        <td title="'ID'" filter="{ id: 'number'}" sortable="'id'">
                            {{app.id}}
                        </td>
                        <td title="'Name'" filter="{ Name: 'text'}" sortable="'Name'">
                            {{app.Name}}
                        </td>
                        <td title="'Description'" filter="{ Description: 'text'}" sortable="'Description'">
                            {{app.Description}}
                        </td>

                        <td title="'Status'" filter="{ isactive: 'text'}" sortable="'isactive'">
                            <span class="label label-success"> Active</span>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>


</body>

