﻿@model RESTC.UserDirectory.User

@{
    ViewBag.Title = "Profile";
}
<head>

    <style>
        .c:hover {
            background-color: rgba(206, 205, 205, 0.54);
            color: cornflowerblue;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .mr {
            margin-right: 20px;
        }



        ul.breadcrumb li + li:before {
            padding: 2px;
            color: white;
            content: "/\00a0";
        }

        .bk {
            background: linear-gradient(to bottom,rgb(254, 247, 247) 60%,rgba(212, 205, 205, 0.30) 40%);
            color: cornflowerblue;
        }
    </style>
</head>
<br />
<div class="row">
    <div class="container-fluid">
        <ul class="breadcrumb br">
            Profile
        </ul>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" ng-app="">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.createddate)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.is_active)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.is_sysadmin)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.key)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.lastmodifieddate)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.lastlogindate)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.password)

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "abc form-control", Placeholder = "Display Name" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "abc form-control", Placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "abc form-control", Placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @readonly = "readonly", @class = "abc form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @readonly = "readonly", @class = "abc form-control", Placeholder = "Username" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-10">
                            <label class="col-md-offset-0 col-md-10 checkbox-inline"><input type="checkbox" ng-model="showpass">Set New Password</label>
                        </div>
                    </div>
                    <div ng-show="showpass">
                        <div class="form-group">
                            @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.PasswordFor(model => model.Newpassword, new { @class = "abc form-control", Placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <hr />
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label class="col-md-offset-0 col-md-10 checkbox-inline"><input type="checkbox" ng-model="showsec">Set Security Question</label>
                        </div>
                    </div>
                    <div ng-show="showsec">
                        <div class="form-group">
                            @Html.LabelFor(model => model.security_ques, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.security_ques, new { htmlAttributes = new { @class = "abc form-control" } })
                                @Html.ValidationMessageFor(model => model.security_ques, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.seurity_answer, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.seurity_answer, new { htmlAttributes = new { @class = "abc form-control" } })
                                @Html.ValidationMessageFor(model => model.seurity_answer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">

                        <input type="submit" value="Save" class="bk btn c btn-outline-success" />

                    </div>

                </div>

            </div>
        }
        <div class="row mtop">
            <div class="container-fluid">
                <button type="button" onclick="window.history.back()" class="btn btn-link">Back</button>
            </div>
        </div>
    </div>
</div>