﻿
@{
    ViewBag.Title = "Schema";
}
@Html.Partial("Insideheader")
<style>
    .mleft {
        margin-left: 2%;
    }

    .scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }

    .cen th {
        text-align: center;
    }

    .cright {
        margin-left: 90%;
    }
</style>
<script>
    var key;
    var myapp = angular.module('myapp', ['ngRoute']);
    myapp.service('myservice', function () {
        var Db_tables = null;
        var Db_Tablefield = null;
        return {
            getTable: function () {
                return Db_tables;
            },
            setTable: function (value) {
                Db_tables = value;
            }
        };
        return {
            get_tab: function () {
                return Db_Tablefield;
            },
            set_table: function (value) {
                Db_Tablefield = value;
            }
        };
    });
    myapp.config(['$routeProvider', function ($routeProvider) {
        $routeProvider.when('/managetables',
            {
                templateUrl: 'managetable.htm',
            }).when('/addfield',
            {
                templateUrl:'addfield.htm',
            }).when('/modifytable',
            {
                templateUrl:'modifytable.htm',
            }).when('/createtable',
                {
                    templateUrl: 'createtable.htm',
                }).otherwise(
                        {
                            redirectTo: '/managetables'
                        });
    }]);
    myapp.controller('mngcntrl', function ($scope, $http, $window, myservice)
    {
        $scope.puttable = function (Db_tables)
        {
            myservice.setTable(Db_tables);

        }
        $scope.load = function ()
        {
            $scope.U = JSON.parse(sessionStorage.user);
            key = $scope.U.username;
            $scope.Tables = [];
            $http({
                method: 'GET',
                url: '/api/service',
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key
                }
            }).then(function (response) {
                if (response.status == 200)
                {
                    $scope.ServiceRoles = response.data;
                }

            }), function (error)
            {
                console.log(error);
            }
        }

        $scope.getTables = function ()
        {
            $scope.Table_fields_constraints = null;
            $http({
                method: 'GET',
                url: '/api/table/' + $scope.Service.id,
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key
                }
            }).then(function (response)
            {
                $scope.Tables = response.data;
                console.log($scope.Tables);
            }),
                function (error)
                {
                    console.log(error);
                }
        }
        $scope.getTable_fields = function ()
        {
            $http({
                method: 'GET',
                url: '/api/Db_table/' + $scope.Db_tables.id,
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key
                }
            }).then(function (response) {
                $scope.Table_fields_constraints = response.data;
                console.log($scope.Table_fields_constraints);
            }), function (error)
            {
                console.log(error);
            }
        }
        $scope.droptable = function (id)
        {

            $http({
                method: 'DELETE',
                url: '/api/Table/' + id,
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key
                }
            }).then(function (response)
            {
                if (response.status == 200)
                {
                    alert("Successfully Droped");
                    $window.location.reload();
                }
            }), function (error)
            {
                console.log(error);
            }
        }
        $scope.dropfield = function (id)
        {
            $http({
                method: 'DELETE',
                url: '/api/Db_table/' + id,
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key
                }
            }).then(function (response) {
                if (response.status == 200) {
                    alert("Successfully Droped Column");
                    $window.location.reload();
                }
            }), function (error)
            {
                console.log(error);
            }
        }

    });
    myapp.controller('createcntrl', function ($scope, $http, $window, $compile)
    {

        $scope.number = 4;
        $scope.appendvariable = 3;
        $scope.getNumber = function (num) {
            return new Array(num);
        }
        $scope.Table_Fields = [];
        $scope.appendfield = function ()
        {
            $scope.appendvariable++;
            angular.element(document.getElementById("fieldbody")).append($compile("<tr><td><input type='text' class='form-control' placeholder='Name' ng-model='Table_Fields[" + $scope.appendvariable + "].Field.Name' ng-required='Table_Fields[" + $scope.appendvariable + "].Field.PropertyType||Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value||Table_Fields[" + $scope.appendvariable + "].Default.Value||Table_Fields[" + $scope.appendvariable + "].Notnull.Value||Table_Fields[" + $scope.appendvariable + "].Unique.Value||Table_Fields[" + $scope.appendvariable + "].Primarykey.Value'/></td><td><select ng-options='DP.Datatype as DP.Datatype for DP in Datatypes' class='form-control' ng-model='Table_Fields[" + $scope.appendvariable + "].Field.PropertyType' ng-required='Table_Fields[" + $scope.appendvariable + "].Field.Name'><option value='' selected disabled>Select Type</option></select></td><td><input type='number' Placeholder='Length' class='form-control' ng-model='Table_Fields[" + $scope.appendvariable + "].Field.Length' /></td><td><input type='checkbox' ng-model='Table_Fields[" + $scope.appendvariable + "].Primarykey.Value' ng-disabled='Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value||Table_Fields[" + $scope.appendvariable + "].Default.Value||Table_Fields[" + $scope.appendvariable + "].Notnull.Value||Table_Fields[" + $scope.appendvariable + "].Unique.Value' />Primary Key</td><td><input type='checkbox' ng-model='Table_Fields[" + $scope.appendvariable + "].Notnull.Value' ng-disabled='Table_Fields[" + $scope.appendvariable + "].Primarykey.Value||Table_Fields[" + $scope.appendvariable + "].Default.Value||Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value' />Not Null</td><td><input type='checkbox' ng-model='Table_Fields[" + $scope.appendvariable + "].Unique.Value' ng-disabled='Table_Fields[" + $scope.appendvariable + "].Primarykey.Value||Table_Fields[" + $scope.appendvariable + "].Default.Value||Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value' />Unique</td><td><input type='checkbox' ng-model='Table_Fields[" + $scope.appendvariable + "].Default.Value' ng-disabled='Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value||Table_Fields[" + $scope.appendvariable + "].Primarykey.Value||Table_Fields[" + $scope.appendvariable + "].Notnull.Value||Table_Fields[" + $scope.appendvariable + "].Unique.Value' />Default<input ng-show='Table_Fields[" + $scope.appendvariable + "].Default.Value' placeholder='Default Value' type='text' ng-model='Table_Fields[" + $scope.appendvariable + "].Default.defaultvalue' class='form-control' ng-if='Table_Fields[" + $scope.appendvariable + "].Default.Value' required /></td><td><input type='checkbox' ng-model='Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value' ng-disabled='Table_Fields[" + $scope.appendvariable + "].Primarykey.Value||Table_Fields[" + $scope.appendvariable + "].Default.Value||Table_Fields[" + $scope.appendvariable + "].Notnull.Value||Table_Fields[" + $scope.appendvariable + "].Unique.Value' />Foreign Key<select ng-model='Table_Fields[" + $scope.appendvariable+"].foriegnkey.table_id' ng-options='PKtable.id as PKtable.Name for PKtable in PKtables' ng-required='Table_Fields[$index].foriegnkey.Value' ng-show='Table_Fields[" + $scope.appendvariable + "].foriegnkey.Value' class='form-control'><option value='' selected disabled>Select table</option></select></td></tr>")($scope));
        }
        $scope.load = function ()
        {
            $scope.U = JSON.parse(sessionStorage.user);
            key = $scope.U.username;
            $http({
                method: 'GET',
                url: '/api/service',
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key}
            }).then(function (response) {
                if (response.status == 200) {
                    $scope.ServiceRoles = response.data;
                }

            }), function (error) {
                    console.log(error);
                }
            $http.get('/Homepage/getDatatypes').then(function (response) {
                $scope.Datatypes = response.data;
                console.log($scope.Datatypes);
            }), function (error)
            {
                console.log(error);
            }
        }
        $scope.createtable = function ()
        {


            $scope.Table.user = JSON.parse(sessionStorage.user);
            console.log($scope.Table_Fields);
            $scope.new_tableFields = $scope.Table_Fields;
            $scope.Table_Fields = [];
            for (var i = 0; i < $scope.new_tableFields.length; i++)
            {

                if ($scope.new_tableFields[i] != null)
                {
                    if ($scope.new_tableFields[i].Field.Name != "") {
                        $scope.new_tableFields[i].Field.Table = $scope.Table;
                        if ($scope.new_tableFields[i].Primarykey != null && !$scope.new_tableFields[i].Primarykey.Value) {
                            $scope.new_tableFields[i].Primarykey = null;
                        }
                        if ($scope.new_tableFields[i].Notnull != null && !$scope.new_tableFields[i].Notnull.Value) {
                            $scope.new_tableFields[i].Notnull = null;
                        }
                        if ($scope.new_tableFields[i].Unique != null && !$scope.new_tableFields[i].Unique.Value) {
                            $scope.new_tableFields[i].Unique = null;
                        }
                        if ($scope.new_tableFields[i].Default != null && !$scope.new_tableFields[i].Default.Value) {
                            $scope.new_tableFields[i].Default = null;
                        }
                        if ($scope.new_tableFields[i].foriegnkey != null && !$scope.new_tableFields[i].foriegnkey.Value) {
                            $scope.new_tableFields[i].foriegnkey = null;
                        }

                        $scope.Table_Fields.push($scope.new_tableFields[i]);
                    }
                    }
            }
            console.log($scope.Table_Fields);
            $http({
                method: 'POST',
                url: "/api/table",
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key},
                data:$scope.Table_Fields
            }).then(function (response) {
                if (response.status == 200)
                {
                    $window.open('#managetables','_self')
                }
            }), function (error)
            {
            }
        }
        $scope.getpktables = function ()
        {
            $http.get('/homepage/getPKtables?service_id=' + $scope.Table.service_id).then(function (response) {
                $scope.PKtables = response.data;
                console.log($scope.PKtables);
            }), function (error)
            {
                console.log(error);
            }
        }
    });
    myapp.controller('modifycntrl', function ($scope, $http, $window, myservice)
    {
        $scope.Db_tables;
        $scope.load = function ()
        {
            if (myservice.getTable() == null) {
                $window.open('#managetables', '_self');
            }
            else
            {
                $scope.Db_tables = myservice.getTable();
                $scope.Name = $scope.Db_tables.Name;
                console.log($scope.Db_tables);
            }
        }
        $scope.edittable = function ()
        {
            $scope.U = JSON.parse(sessionStorage.user);
            key = $scope.U.username;
            console.log(angular.toJson($scope.Db_tables));
            $http({
                method: 'PUT',
                url: '/api/table',
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key
                },
                data:$scope.Db_tables
            }).then(function (response) {
                if (response.status == 200)
                {
                    alert("Successfully Modified");
                    $window.open('#managetables', '_self');
                }
            }), function (error)
            {
                console.log(error);
            }
        }
    });
    myapp.controller('addfieldcntrl', function ($scope, $http, $window, myservice)
    {
        $scope.load = function ()
        {
            if (myservice.getTable() == null) {
                $window.open('#managetables', '_self');
            }
            else {
                $scope.Db_tables = myservice.getTable();
                $scope.Name = $scope.Db_tables.Name;
                console.log($scope.Db_tables);
                $http.get('/homepage/getPKtables?service_id=' + $scope.Db_tables.service_id).then(function (response) {
                    $scope.PKtables = response.data;
                    console.log($scope.PKtables);
                }), function (error) {
                        console.log(error);
                    }
            }
            $http.get('/Homepage/getDatatypes').then(function (response) {
                $scope.Datatypes = response.data;
                console.log($scope.Datatypes);
            }), function (error) {
                    console.log(error);
                }
        }
        $scope.addfield = function ()
        {


            $scope.table_Field.Field.Table_id = $scope.Db_tables.id;
            if ($scope.table_Field.Primarykey != null && !$scope.table_Field.Primarykey.Value)
            {
                $scope.table_Field.Primarykey = null;
            }
            if ($scope.table_Field.Unique != null && !$scope.table_Field.Unique.Value) {
                $scope.table_Field.Unique = null;
            }
            if ($scope.table_Field.Notnull != null && !$scope.table_Field.Notnull.Value) {
                $scope.table_Field.Notnull = null;
            }
            if ($scope.table_Field.Default != null && !$scope.table_Field.Default.Value) {
                $scope.table_Field.Default = null;
            }
            if ($scope.table_Field.foriegnkey != null && !$scope.table_Field.foriegnkey.Value) {
                $scope.table_Field.foriegnkey = null;
            }
            console.log($scope.table_Field);
            $scope.U = JSON.parse(sessionStorage.user);
            key = $scope.U.username;
            $http({
                method: 'POST',
                url: '/api/DB_table',
                headers: {
                    "Content-Type": "application/json",
                    "authenticatekey": key},
                data:$scope.table_Field
            }).then(function (response) {
                if (response.status == 201) {
                    alert("Successfully Added");
                    $window.open('#managetables', '_self');
                }
                else {
                    alert(response.data);
                }
            }), function (error)
            {
                alert(error.data);
            }
        }
    });
</script>
<div class="col-md-12 mtop">
    <div class="row" ng-app="myapp">

        <div ng-view>
            <script id="managetable.htm" type="text/ng-template">
                <div class="col-md-12 mtop" ng-controller="mngcntrl" ng-init="load()">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="#createtable" style="float:right">Create New Table</a>
                        </div>
                    </div>

                    <div class="panel panel-primary mtop">
                        <div class="panel-heading">
                            <label>SET SERVICES</label>
                        </div>

                        <div class="panel-body">
                            <select class="form-control" ng-options="ServiceRole.Service as ServiceRole.Service.Name for ServiceRole in ServiceRoles" ng-model="Service" ng-change="getTables()">
                                <option value="" selected disabled>--Select Service--</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <label>Table</label>
                        </div>
                        <div class="panel-body">
                            <select class="form-control" ng-options="Table.Name for Table in Tables" ng-model="Db_tables" ng-change="getTable_fields()">
                                <option value="" selected disabled>--Select Table--</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="Table_fields_constraints!=null" class="panel panel-success">
                        <div class="panel-heading">
                            {{Db_tables.Name}}
                            <a href="#addfield" class="btn btn-default mleft" ng-click="puttable(Db_tables)">Add Field</a>
                            <div class="btn-group" style="float:right">
                                <button type="button" class="btn btn-default" ng-click="droptable(Db_tables.id)">Drop Table</button>
                                <a href="#modifytable" ng-click="puttable(Db_tables)" class="btn btn-default">Modify Table</a>
                            </div>
                        </div>
                        <div>
                            <table class="table table-bordered table-responsive table-striped">
                                <thead>
                                <th>Sr.no</th>
                                <th>Name</th>
                                <th>Length</th>
                                <th>Property Type</th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tr ng-repeat="Tfc in Table_fields_constraints">
                                    <td>{{$index+1}}</td>
                                    <td>{{Tfc.Field.Name}}</td>
                                    <td>{{Tfc.Field.Length}}</td>
                                    <td>{{Tfc.Field.PropertyType}}</td>
                                    <td><button type="button" class="btn btn-sm"><i class="fa fa-trash" ng-click="dropfield(Tfc.Field.id)"></i></button></td>
                                    @*<td><button type="button" class="btn btn-sm"><i class="fa fa-edit"></i></button></td>*@

                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </script>
            <script id="createtable.htm" type="text/ng-template">
                <div class="col-md-12 mtop" ng-controller="createcntrl">
                    <div class="breadcrumb">Create Table</div>
                    <form name="createtableform" ng-submit="createtable()" ng-init="load()">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="panel panel-primary mtop">
                                        <div class="panel-heading">
                                            <label>SET SERVICES</label>
                                        </div>

                                        <div class="panel-body">
                                            <select class="form-control" ng-options="ServiceRole.Service.id as ServiceRole.Service.Name for ServiceRole in ServiceRoles" ng-model="Table.service_id" ng-change="getpktables()" required>
                                                <option value="" selected disabled>--Select Service--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" placeholder="Table Name" class="form-control" ng-model="Table.Name" required />
                                </div>
                                <div class="form-group">
                                    <label>Label</label>
                                    <input type="text" placeholder="Label" class="form-control" ng-model="Table.Label" required />
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" placeholder="Description" class="form-control" ng-model="Table.Description" />
                                </div>
                                <div class="form-group">
                                    <label>Fields</label>
                                    <button type="button" class="btn btn-sm cright fa fa-plus-circle" ng-click="appendfield()"></button>
                                    <div class="col-md-12">
                                        <table class="table table-hover table-striped scrollmenu">
                                            <thead>
                                                <tr class="cen">
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Length/Values</th>
                                                    <th colspan="5">Constraints</th>
                                                </tr>
                                            </thead>
                                            <tbody id="fieldbody">

                                                <tr ng-repeat="i in getNumber(number) track by $index">
                                                    <td><input type="text" class="form-control" placeholder="Name" ng-model="Table_Fields[$index].Field.Name" ng-required="Table_Fields[$index].Field.PropertyType||Table_Fields[$index].foriegnkey.Value||Table_Fields[$index].Default.Value||Table_Fields[$index].Notnull.Value||Table_Fields[$index].Unique.Value||Table_Fields[$index].Primarykey.Value" /></td>
                                                    <td><select ng-options="DP.Datatype as DP.Datatype for DP in Datatypes" class="form-control" ng-model="Table_Fields[$index].Field.PropertyType" ng-required="Table_Fields[$index].Field.Name"><option value="" selected disabled>Select Type</option></select></td>
                                                    <td><input type="number" placeholder="Length" class="form-control" ng-model="Table_Fields[$index].Field.Length" /></td>
                                                    <td><input type="checkbox" ng-model="Table_Fields[$index].Primarykey.Value" ng-disabled="Table_Fields[$index].foriegnkey.Value||Table_Fields[$index].Default.Value||Table_Fields[$index].Notnull.Value||Table_Fields[$index].Unique.Value" />Primary Key</td>
                                                    <td><input type="checkbox" ng-model="Table_Fields[$index].Notnull.Value" ng-disabled="Table_Fields[$index].Primarykey.Value||Table_Fields[$index].Default.Value||Table_Fields[$index].foriegnkey.Value" />Not Null</td>
                                                    <td><input type="checkbox" ng-model="Table_Fields[$index].Unique.Value" ng-disabled="Table_Fields[$index].Primarykey.Value||Table_Fields[$index].Default.Value||Table_Fields[$index].foriegnkey.Value" />Unique</td>
                                                    <td><input type="checkbox" ng-model="Table_Fields[$index].Default.Value" ng-disabled="Table_Fields[$index].foriegnkey.Value||Table_Fields[$index].Primarykey.Value||Table_Fields[$index].Notnull.Value||Table_Fields[$index].Unique.Value" />Default<input ng-show="Table_Fields[$index].Default.Value" placeholder="Default Value" type="text" ng-model="Table_Fields[$index].Default.defaultvalue" class="form-control" ng-if="Table_Fields[$index].Default.Value" required /></td>
                                                    <td><input type="checkbox" ng-model="Table_Fields[$index].foriegnkey.Value" ng-disabled="Table_Fields[$index].Primarykey.Value||Table_Fields[$index].Default.Value||Table_Fields[$index].Notnull.Value||Table_Fields[$index].Unique.Value" />Foreign Key<select ng-show="Table_Fields[$index].foriegnkey.Value" ng-options="Table.id as Table.Name for Table in PKtables" ng-model="Table_Fields[$index].foriegnkey.table_id" class="form-control" ng-required="Table_Fields[$index].foriegnkey.Value"><option value="" selected disabled>Select table</option></select></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default" value="Create" ng-disabled="Table_Fields.length<1" />
                                    <button type="button" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </script>
            <script id="modifytable.htm" type="text/ng-template">
                <div class="col-md-12 mtop" ng-controller="modifycntrl" ng-init="load()">
                    <div class="breadcrumb">Edit {{Name}}</div>
                    <form name="modifytable" ng-submit="edittable()">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" placeholder="Table Name" class="form-control" ng-model="Db_tables.Name" required />
                        </div>
                        <div class="form-group">
                            <label>Label</label>
                            <input type="text" placeholder="Label" class="form-control" ng-model="Db_tables.Label" required />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" placeholder="Description" class="form-control" ng-model="Db_tables.Description" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Modify" />
                            <button type="button" class="btn btn-warning" onclick="window.history.back()">Back</button>
                        </div>
                    </form>
                </div>
            </script>
            <script id="addfield.htm" type="text/ng-template">
                <div class="col-md-12 mtop" ng-controller="addfieldcntrl" ng-init="load()">
                    <div class="breadcrumb">Add New Field To {{Db_tables.Name}}</div>
                    <form name="Addfieldform" ng-submit="addfield()">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" ng-model="table_Field.Field.Name" required />
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" ng-model="table_Field.Field.PropertyType" ng-options="DP.Datatype as DP.Datatype for DP in Datatypes" required><option value="" selected disabled>Select Type</option></select>
                        </div>
                        <div class="form-group">
                            <label>Length/Value</label>
                            <input type="number" class="form-control" ng-model="table_Field.Field.Length" placeholder="Length" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" ng-model="table_Field.Primarykey.Value" ng-disabled="table_Field.Unique.Value||table_Field.Notnull.Value||table_Field.Default.Value||table_Field.foriegnkey.Value" /><label>Primary Key</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" ng-model="table_Field.Unique.Value" ng-disabled="table_Field.Primarykey.Value||table_Field.Default.Value||table_Field.foriegnkey.Value" /><label>Unique</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" ng-model="table_Field.Notnull.Value" ng-disabled="table_Field.Primarykey.Value||table_Field.Default.Value||table_Field.foriegnkey.Value" /><label>Not Null</label>
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-2">
                                    <input type="checkbox" ng-model="table_Field.Default.Value" ng-disabled="table_Field.Unique.Value||table_Field.Notnull.Value||table_Field.Primarykey.Value||table_Field.foriegnkey.Value" /><label>Default </label>
                                </div>
                                <div class="col-md-4" ng-show="table_Field.Default.Value">
                                    <input type="text" class="form-control" placeholder="Default Value" ng-model="table_Field.Default.defaultvalue" ng-required="table_Field.Default.Value" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="checkbox" ng-model="table_Field.foriegnkey.Value" ng-disabled="table_Field.Unique.Value||table_Field.Notnull.Value||table_Field.Default.Value||table_Field.Primarykey.Value" /><label>Foriegn Key </label>
                                </div>
                                <div class="col-md-4" ng-show="table_Field.foriegnkey.Value">
                                    <select class="form-control" ng-options="Table.id as Table.Name for Table in PKtables" ng-model="table_Field.foriegnkey.table_id" ng-required="table_Field.foriegnkey.Value"><option value="" selected disabled>Select Table</option></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="ADD" />
                            <button type="button" class="btn btn-warning" onclick="window.history.back()">Back</button>
                        </div>
                    </form>
                </div>
            </script>
        </div>
    </div>
</div>
