﻿
@{
    ViewBag.Title = "Service";
}
@Html.Partial("Insideheader")
<head>
    <style>
        .serv_type {
            width: 50%;
            background-color: black;
            color: lawngreen;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btnplus {
            border: 2px solid lawngreen;
            color: lawngreen;
            background: white;
            border-color: lawngreen;
            border-radius: 100px !important;
            float: right
        }

        .btntrash {
            border: 2px solid red;
            color: red;
            background: white;
            border-color: red;
            border-radius: 100px !important;
            float: right
        }
    </style>
    <script src="~/Scripts/jquery.serializejson.js" type="text/javascript"></script>
    <script>
        var key;
        var rolecount = 0;
        var delete_rolecount = [];
        var _roles = [];
        var myapp = angular.module('myapp', ['ngRoute']);
        myapp.filter('ceilFilter', function () {
            return function (data) {
                return Math.ceil(data);
            };
        });
        myapp.service("myservice", function () {

            var ServiceRole = null;

            return {
                getServiceRole: function () {
                    return ServiceRole;
                },
                setServiceRole: function (value) {
                    ServiceRole = value;
                }
            };

        });

        myapp.config(['$routeProvider', function ($routeProvider) {
            $routeProvider.when('/createservice',
                {
                    templateUrl: 'createservice.htm',
                }).when('/manageservices',
                    {
                        templateUrl: 'manageservice.htm',
                })
                .when('/manageservice',
                {
                    templateUrl:'mngservice.htm',
                }).otherwise(
                        {
                            redirectTo: '/manageservices'
                        });
        }]);
        myapp.controller('createcntrl', function ($scope, $http, $window,$compile)
        {
            $scope.U = JSON.parse(sessionStorage.user);
            key = $scope.U.username;
            $scope.load = function ()
            {
                delete_rolecount = [];
                rolecount = 0;

                $http({
                    method: 'GET',
                    url: "/api/appps",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }}).then(function (response) {
                    $scope.Apps = response.data;
                    console.log($scope.Apps);
                }), function (error)
                {
                    console.log(error);

                    }
                $http({
                    method: 'GET',
                    url: "/api/role",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }}).then(function (response) {
                    _roles = response.data;
                    $scope.Roles = response.data;
                    console.log($scope.Roles);
                }), function (error)
                {
                    console.log(error);
                    }

            }
            $scope.deleterole = function (id)
            {
                var _element = document.getElementById("role" + id);
                angular.element(_element).remove();
                delete_rolecount.push(id);
            }
            $scope.appendrole = function ()
            {
                var div_role = document.getElementById("rolediv");
                rolecount++;
                angular.element(div_role).append($compile("<div class='mtop row' id='role" + rolecount + "'><div class='col-md-9'><select ng-options='Role.Name for Role in Roles' id='selectrole" + rolecount + "' class='form-control' ng-model='Roless[" + rolecount + "]' name='[Roles][" + rolecount + "]' required><option value='' selected disabled>--Select Role--</option></select></div ><div class='col-md-3'><button type='button' class='btn btn-sm btntrash fa fa-minus' id='trashrole' ng-click='deleterole(" + rolecount + ")'></button></div></div>")($scope));
            }

            $scope.postservice = function () {
                $scope.ServiceRole.Service.user = JSON.parse(sessionStorage.user);
                $scope.ServiceRole.Roles = [];
                $scope.ServiceRole.Roles.push($scope.Roless[0]);


                for (var xyz = 1; xyz <= rolecount; xyz++) {
                    var ispresent = true
                    for (var m = 0; m < delete_rolecount.length; m++) {
                        if (xyz == delete_rolecount[m]) {
                            ispresent = false;
                            break;
                        }

                    }
                    if (ispresent) {
                        $scope.ServiceRole.Roles.push($scope.Roless[xyz]);

                    }
                }

                console.log($scope.ServiceRole);
                console.log($scope.Roless);
                $http({
                    method: 'POST',
                    url: "/api/Service",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    },
                    data:($scope.ServiceRole)}).then(function (response) {
                    if (response.status == 200)
                    {
                        alert(response.data);
                        $window.open("#manageservices", '_self');
                    }
                }), function (error)
                {
                    console.log(error);

                }
            }
        });
        myapp.controller('managecntrl', function ($scope, $http, $window,myservice) {
            $scope.load = function () {

                $scope.User = JSON.parse(sessionStorage.user);
                key = $scope.User.username;
                $http({
                    method: 'GET',
                    url: '/api/Service',
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.dataList = response.data;
                    console.log($scope.dataList);


                    $scope.currentPage = 1;
                    $scope.total_show = "5";
                    $scope.numberOfPages = 10;

                    $scope.pagenumber = true;
                    $scope.totla_result_showing = true;
                    $scope.totla_result_showing_onsearcchh = false;

                    $scope.sortKey = function (key) {
                        $scope.currentPage = 1;
                        $scope.myOrderBy = key;
                    };

                    $scope.maxtotal = Math.ceil($scope.dataList.length / parseInt($scope.total_show));
                    $scope.changeTotalShow = function () {
                        $scope.maxtotal = Math.ceil($scope.dataList.length / parseInt($scope.total_show));
                    };
                }),
                    function (error) {
                        console.log(error);
                    }
            }

            $scope.delete = function (id)
            {
                var k = confirm("Are you Sure");
                if (k)
                {
                    $http({
                        method: 'DELETE',
                        url: "/api/service/" + id,
                        headers: {
                            "Content-Type": "application/json",
                            "authenticatekey": key
                        }
                    }).then(function (response) {
                        if (response.status == 200) {
                            alert(response.data);
                            $window.location.reload();
                        }
                    }), function (error)
                    {
                        console.log(error);
                    }
                }
            }
            $scope.myfunction = function (ServiceRole) {
                myservice.setServiceRole(ServiceRole);
                console.log(myservice.getServiceRole());
            }
        });
        myapp.controller('editcntrl', function ($scope, $http, $window, $compile, myservice)
        {
            $scope.load = function ()
            {
                $scope.appendrolecount=0;
                if (myservice.getServiceRole() == null)
                {
                    $window.open('#manageservices', '_self');
                }

                $scope.ServiceRole = myservice.getServiceRole();
                $scope.ServiceName = $scope.ServiceRole.Service.Name;
                $scope.U = JSON.parse(sessionStorage.user);
                key = $scope.U.username;
                $http({
                    method: 'GET',
                    url: "/api/appps",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    }}).then(function (response) {
                    $scope.Apps = response.data;
                    console.log($scope.Apps);
                }), function (error) {
                        console.log(error);

                    }
                $http({
                    method: 'GET',
                    url: "/api/role",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key}
                }).then(function (response) {
                    $scope.Roles = response.data;
                    console.log($scope.Roles);
                }), function (error) {
                        console.log(error);
                    }
                debugger;
                $scope.appendrolecount = $scope.ServiceRole.Roles.length;
                for (var rolecount1 = 1; rolecount1 <$scope.ServiceRole.Roles.length; rolecount1++) {
                    angular.element(document.getElementById("editrolediv")).append($compile("<div class='mtop row' id='editrole" + rolecount1 + "'><div class='col-md-9'><select ng-options='Role.Name for Role in Roles track by Role.id' class='form-control' ng-model='ServiceRole.Roles[" + rolecount1 + "]' name='[Roles][" + rolecount1 + "]' required></select></div ><div class='col-md-3'><button type='button' class='btn btn-sm btntrash fa fa-minus' id='trashrole' ng-click='deleterole(" + rolecount1 + ")'></button></div></div>")($scope));
                }
                }
            $scope.deleterole = function (id) {
                var _element = document.getElementById("editrole" + id);
                angular.element(_element).remove();
                if (id < $scope.ServiceRole.Roles.length)
                {
                    $scope.ServiceRole.Roles.splice(id);
                }
                //delete_rolecount.push(id);
            }
            $scope.appendrole = function () {
                var div_role = document.getElementById("editrolediv");

                angular.element(div_role).append($compile("<div class='mtop row' id='editrole" + $scope.appendrolecount + "'><div class='col-md-9'><select ng-options='Role.Name for Role in Roles track by Role.id' class='form-control' ng-model='ServiceRole.Roles[" + $scope.appendrolecount + "]' name='[Roles][" + $scope.appendrolecount + "]' required><option value='' selected disabled>--Select Role--</option></select></div ><div class='col-md-3'><button type='button' class='btn btn-sm btntrash fa fa-minus' id='trashrole' ng-click='deleterole(" + $scope.appendrolecount + ")'></button></div></div>")($scope));
                $scope.appendrolecount++;
            }

            $scope.updateservice = function () {
                $scope.Roles = $scope.ServiceRole.Roles;
                $scope.ServiceRole.Roles = []
                for (Role in $scope.Roles) {
                    $scope.ServiceRole.Roles.push($scope.Roles[Role]);
                }
                console.log($scope.ServiceRole);
                $http({
                    method: 'PUT',
                    url: "/api/Service",
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    },
                    data:($scope.ServiceRole)}).then(function (response) {
                    if (response.status == 200) {
                        alert(response.data);
                        $window.open("#manageservices", '_self');
                    }
                }), function (error) {
                        console.log(error);

                    }
            }

        });
    </script>
</head>
<div class="col-md-12 mtop">
    <div class="row" ng-app="myapp">
        <div class="col-md-2">
            <ul class=" nav nav-pills nav-stacked">
                <li class="libg"><a class="active" href="#createservice">Create Services</a></li>
                <li class="libg"><a href="#manageservices">Manage Services</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ng-view>
                <script type="text/ng-template" id="createservice.htm">
                    <div ng-controller="createcntrl">
                        <ul class="breadcrumb br">Create Services</ul>
                        <div class="container-fluid row">
                            <div>
                                <i>
                                    <b>Service Type :</b>
                                    <i class="serv_type">Database <i class="fa fa-database" style="background-color:black;color:lawngreen"></i></i>
                                </i>
                            </div>
                            <form id="fm" name="servicecreationform" ng-init="load()" ng-submit="postservice()">
                                <div class="container-fluid row">
                                    <div class="form-group mtop">
                                        <label>Name</label>
                                        <input class="form-control" placeholder="Name" type="text" ng-model="ServiceRole.Service.Name" name="[Service][Name]" id="Name" required />
                                    </div>
                                    <div class="form-group mtop">
                                        <label>Label</label>
                                        <input class="form-control" placeholder="Label" type="text" ng-model="ServiceRole.Service.Label" name="[Service][Label]" id="Label" />
                                    </div>
                                    <div class="form-group mtop">
                                        <label>Descritption</label>
                                        <input class="form-control" placeholder="Description" type="text" ng-model="ServiceRole.Service.Description" name="[Service][Description]" id="Description" />
                                    </div>
                                    <div class="form-group mtop">
                                        <label>App</label>
                                        <select class="form-control" ng-model="ServiceRole.Service.app_id" name="[Service][app_id]" required>
                                            <option value="" selected disabled>--Select App--</option>
                                            <option ng-repeat="App in Apps" value="{{App.id}}">{{App.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group mtop">
                                        <label>Roles</label> <button type="button" class="btn btn-sm fa fa-plus btnplus" id="addrole" ng-click="appendrole()"></button>
                                        <div id="rolediv" class="mtop">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <select ng-options="Role.Name for Role in Roles" class="form-control" ng-model="Roless[0]" name="[Roles][0]" required>
                                                        <option value="" selected disabled>--Select Role--</option>
                                                        <!-- <option ng-repeat="Role in Roles" value="{{Role}}">{{Role.Name}}</option>-->

                                                    </select>

                                                </div>

                                                <div class="col-md-3"></div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group mtop">
                                        <input type="checkbox" name="active" id="active" ng-model="ServiceRole.Service.isactive" />&nbsp;<label>Active</label>

                                    </div>
                                    <div class="form-group mtop">
                                        <input type="submit" id="submitbtn" value="submit" class="btn btn-success" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="manageservice.htm">
                    <div ng-controller="managecntrl">
                        <ul class="breadcrumb br">Manage Services</ul>

                        <style>
                            * {
                                margin: 0;
                                padding: 0;
                                border: 0;
                                list-style: none;
                            }

                            select,
                            input {
                                border: 1px solid;
                                width: auto;
                                padding: 5px 10px;
                            }

                            .list {
                                width: 100%;
                                display: inline-block;
                            }

                                .list .head {
                                    background: #eee;
                                    display: inline-block;
                                    padding: 5px;
                                    margin: 10px 0 0 0;
                                }

                                    .list .head span {
                                        cursor: pointer;
                                        width: 100px;
                                        float: left;
                                    }

                            .data {
                                display: inline-block;
                                padding: 3px;
                                width: 100%;
                            }

                                .data span {
                                    width: 100px;
                                    float: left;
                                }



                            .hide {
                                display: none;
                            }

                            .page-number {
                            }

                                .page-number button {
                                    display: inline-block;
                                    float: left;
                                    padding: 3px 5px;
                                    background: #f5f5f5;
                                    border: 1px solid #eee;
                                    margin: 5px 3px
                                }

                            .current-page-btn {
                                background: #7aceff !important;
                            }

                            .list .head {
                                width: 100%;
                                color: #a5a5a5;
                            }

                            ul.list {
                                margin-bottom: 30px;
                            }

                            .data {
                                width: 100%;
                                border-bottom: 1px solid #f9f9f9;
                                padding: 8px 13px;
                            }

                                .list .head span, .data span {
                                    width: 26.3%;
                                }

                            .page-number button {
                                padding: 10px 20px;
                                border-radius: 3px;
                            }

                            .current-page-btn {
                                color: #fff;
                                border: 1px solid #5ab3e6 !important;
                            }

                            .noresult {
                                width: 101%;
                                text-align: center;
                                padding: 20px 0;
                                color: #d4a7a7;
                                font-size: 20px;
                                background: #f9f9f9;
                                margin: -3px 0 0 0;
                            }

                            /* beauty styles */
                            * {
                                font-family: 'lato', sans-serif;
                            }



                            .dataTable {
                                margin: 30px auto;
                                width: 90%;
                                max-width: 800px;
                                background: #fff;
                                box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                                -o-box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                                -moz-box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                                -webkit-box-shadow: 0 4px 14px -4px rgba(0, 0, 0, 0.2);
                                padding: 20px;
                            }

                            .left {
                                float: left !important;
                            }

                            .right {
                                float: right !important;
                            }

                            .m3 {
                                width: 20%;
                            }

                            .m6 {
                                width: 70%;
                                text-align: right;
                                margin-bottom: 10px;
                            }

                                .m3 span,
                                .m6 span {
                                    color: #b3b3b3;
                                    font-size: 16px;
                                }

                            input,
                            select {
                                border: 1px solid #eee;
                                border-radius: 5px;
                            }

                            .lightColor {
                                color: #a2a2a2;
                            }

                                .lightColor b {
                                    padding: 0 5px;
                                }

                            .bl {
                                background-color: #337ab7;
                                color: white;
                            }

                            .al {
                                border: 1px solid rgb(6, 0, 85);
                                text-align: center;
                            }

                            .bt {
                                border-bottom: 1px solid rgb(196, 196, 196);
                            }

                            .widt {
                                width: 10% !important;
                            }
                        </style>
                        <div ng-init="load()">

                            <div>
                                <div class="m3 left">
                                    <span><b style="color:black">Show </b></span>
                                    <select ng-model="total_show" ng-change="changeTotalShow()">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>

                                <div class="m6 right">
                                    <input type="text" ng-model="search" placeholder="Search ...">
                                </div>

                                <ul style="background-color:#fbfafa" class="table table-bordered list">
                                    <li class="head bl bt">
                                        <span class="widt bl al">&nbsp;</span>
                                        <span class="widt bl al">Sr.no</span>
                                        <span class="bl al" ng-click="sortKey('Service.Name')">Name</span>

                                        <span class="bl al" ng-click="sortKey('Service.isactive')">Active</span>

                                        <span class="bl al" ng-click="sortKey('Service.Description')">Description</span>
                                    </li>

                                    <li class="data bt" ng-repeat="ServiceRole in dataList | filter:search | limitTo:total_show:start_from | orderBy:myOrderBy">

                                        <span class="text-center widt"><button class=" btn btn-sm" ng-click="delete(ServiceRole.Service.id)"><i class="fa fa-trash"></i></button></span>
                                        <a href="#manageservice" ng-click="myfunction(ServiceRole)">
                                            <span class="text-center widt">{{$index+1}}</span>
                                            <span class="text-center">{{ServiceRole.Service.Name}}</span>
                                            <span class="text-center">{{ServiceRole.Service.isactive}}</span>
                                            <span class="text-center" ng-if="ServiceRole.Service.Description==null">--NA--</span>
                                            <span class="text-center" ng-if="ServiceRole.Service.Description!=''">{{ServiceRole.Service.Description}}</span>
                                        </a>
                                    </li>



                                    <li class="noresult" ng-if="!(dataList|filter:search).length">No Service found</li>

                                </ul>

                                <div class="container-fluid">
                                    <div class="page-number">
                                        <div class="row">
                                            <button ng-disabled="currentPage <= 1" ng-click="currentPage = currentPage - 1">Previous</button>
                                            <button ng-click="currentPage = 1" ng-show="currentPage >= 3">1</button>
                                            <button ng-show="currentPage >= 4" disabled>...</button>

                                            <span>
                                                <button ng-show="currentPage > 1" ng-click="currentPage = currentPage - 1">{{currentPage - 1 | ceilFilter}}</button>
                                                <button class="current-page-btn">{{currentPage | ceilFilter}}</button>
                                                <button ng-disabled="currentPage >= total_page" ng-show="currentPage < maxtotal" ng-click="currentPage = currentPage + 1">{{currentPage + 1 | ceilFilter}}</button>
                                            </span>

                                            <button class="btn-disabled" ng-hide="currentPage >= maxtotal -1" disabled>...</button>
                                            <button ng-disabled="currentPage >= maxtotal -1" ng-click="currentPage = currentPage + 1">Next</button>

                                        </div>
                                    </div>
                                    <!-- #channel-page-number -->
                                </div>
                                <!-- Details -->
                                <br>
                                <div class="m3 left lightColor">Total Page: {{maxtotal}}</div>
                                <div class="m6 right lightColor">
                                    <div ng-show="totla_result_showing">
                                        Showing <b>{{start_from}}</b> to <b>{{(start_from * 1) + (total_show * 1)}}</b>, of <b>{{(dataList|filter:search).length}}</b> items
                                    </div>
                                </div>



                                <div class="hide">
                                    {{currentPage}} {{total_list = dataList.length}} {{total_page = total_list / total_show}} {{start_from = ((currentPage -1) * total_show) }} {{total_show}}
                                </div>

                            </div>



                        </div>
                    </div>
                </script>
                <script id="mngservice.htm" type="text/ng-template">
                    <div ng-controller="editcntrl" ng-init="load()">
                        <ul class="breadcrumb br">Edit Service {{ServiceName}}</ul>
                        <div class="container-fluid row">
                            <div>
                                <i>
                                    <b>Service Type :</b>
                                    <i class="serv_type">Database <i class="fa fa-database" style="background-color:black;color:lawngreen"></i></i>
                                </i>
                            </div>
                            <form id="fm" name="servicecreationform" ng-submit="updateservice()">
                                <div class="container-fluid row">
                                    <div class="form-group mtop">
                                        <label>Name</label>
                                        <input class="form-control" placeholder="Name" type="text" ng-model="ServiceRole.Service.Name" name="[Service][Name]" id="Name" required />
                                    </div>
                                    <div class="form-group mtop">
                                        <label>Label</label>
                                        <input class="form-control" placeholder="Label" type="text" ng-model="ServiceRole.Service.Label" name="[Service][Label]" id="Label" />
                                    </div>
                                    <div class="form-group mtop">
                                        <label>Descritption</label>
                                        <input class="form-control" placeholder="Description" type="text" ng-model="ServiceRole.Service.Description" name="[Service][Description]" id="Description" />
                                    </div>
                                    <div class="form-group mtop">
                                        <label>App</label>
                                        <select class="form-control" ng-options="App.id as App.Name for App in Apps" ng-model="ServiceRole.Service.app_id" name="[Service][app_id]" required></select>
                                    </div>
                                    <div class="form-group mtop">
                                        <label>Roles</label> <button type="button" class="btn btn-sm fa fa-plus btnplus" id="updaterole" ng-click="appendrole()"></button>
                                        <div id="editrolediv" class="mtop">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <select ng-options="Role.Name for Role in Roles track by Role.id" class="form-control" ng-model="ServiceRole.Roles[0]" name="[Roles][0]" required></select>
                                                </div>

                                                <div class="col-md-3"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mtop">
                                        <input type="checkbox" name="active" id="active" ng-model="ServiceRole.Service.isactive" />&nbsp;<label>Active</label>

                                    </div>
                                    <div class="form-group mtop">
                                        <input type="submit" id="submitbtn" value="Update" class="btn btn-success" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>
