﻿
@{
    ViewBag.Title = "User";
}
@Html.Partial("Insideheader")
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
    <style>
        .reqcol {
            color: red;
        }

        .bgcol {
            background-color: black;
            color: white;
        }
    </style>
    <script>
        var user = {};
        var key;
        var myapp = angular.module("myapp", ['ngRoute','ngTable']);
        myapp.config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/manageuser',
                    {
                        templateUrl: 'manageuser.htm',
                    })
                .when('/createuser', {
                    templateUrl: 'createuser.htm',

                })

                .otherwise({
                    redirectTo: '/manageuser'
                });
        }]);

        myapp.controller("mycntrl", function ($http, $scope, $window, NgTableParams) {
            $scope.pageno = 1;
            $scope.noofpages = 1;

            $scope.load = function () {
                $scope.U = JSON.parse(sessionStorage.user);
                key = $scope.U.username;
                $http({
                    method: 'GET',
                    url: '/api/user/'
                    ,headers: {
                            "Content-Type": "application/json",
                            "authenticatekey": key
                    }
                }).then(function (response) {
                    $scope.Body = response.data;
                    $scope.tableParams = new NgTableParams({}, { dataset: $scope.Body });
                }), function (error) {
                        console.log(error);
                    }



            }
            $scope.deleteuser = function (id) {

                var k = confirm("Are you sure you want to delete the user");
                if (k) {


                    $scope.id = parseInt(id);
                    console.log($scope.id);
                    $http({
                        method: 'DELETE',
                        url: "/api/User/" + $scope.id,
                        headers: {
                            "Content-Type": "application/json",
                            "authenticatekey": key
                        }
                    }).then(function (response) {
                        if (response.status == 200) {
                            alert("Successfully deleted");
                            $window.location.reload();
                        }
                    }), function (error) {
                        Console.log(error);
                    }
                }
            }
        });
        myapp.controller("createcntrl", function ($http, $scope, $window) {
            $scope.register = function () {
                $scope.U = JSON.parse(sessionStorage.user);
                key = $scope.U.username;
                $http({
                    method: 'POST',
                    url: '/Home/AddnewUser',
                    headers: {
                        "Content-Type": "application/json",
                        "authenticatekey": key
                    },
                    data: angular.toJson($scope.User)

                }).then(function (response) {
                    if (response.data == "Successfull") {
                        $scope.successmessage = "Successfully Registered";
                        $scope.succ = true;
                        $window.location.reload();
                    }
                    else {
                        $scope.errormessage = response.data;
                        $scope.err = true;
                    }
                }), function (error) {
                    console.log(error);
                }
            }
        });

    </script>
    <style>
        .brcol {
            border: 1px solid rgb(92, 23, 23) !important;
            color: rgb(92, 23, 23) !important;
        }

            .brcol:hover {
                background: linear-gradient(to bottom, rgb(92, 23, 23) 70%,rgb(96, 39, 39) 30%) !important;
                color: white !important;
            }
    </style>

</head>
<div ng-app="myapp">
    <div ng-view>
        <script type="text/ng-template" id="manageuser.htm">
            <div ng-controller="mycntrl">

                <div ng-init="load()" class="container-fluid mtop">

                    <div class="col-md-12">
                        <div class="row">
                            <ul class="breadcrumb br">Manage Users</ul>
                        </div>


                        <div class="row mtop">
                            <!--  <table id="tb1" class="table table-bordered table-responsive table-striped">
                                                              <thead class="bgcol">

                                                              <th>Id</th>
                                                              <th>Name</th>
                                                              <th>Username</th>
                                                              <th>Email</th>
                                                              <th>Display Name</th>
                                                              </thead>
                                                              <tbody>

                            <tr ng-repeat="user in users">
                                   <td class="text-center"><button class=" btn btn-sm" ng-click="deleteuser(user.id)"><i class="fa fa-trash"></i></button></td>
                                   <td>{{$index+1}}</td>
                                   <td>{{user.firstname}}</td>
                                   <td>{{user.username}}</td>
                                   <td>{{user.email}}</td>
                                   <td>{{user.name}}</td>
                               </tr>

                                                           </tbody>
                                                           </table>
                                                           -->
                            <table ng-table="tableParams" class="table table-bordered table-responsive table-striped" show-filter="true">
                                <tr ng-repeat="user in $data">
                                    <td title="'ID'" filter="{ id: 'number'}" sortable="'id'">
                                        {{user.id}}
                                    </td>
                                    <td title="'Name'" filter="{ firstname: 'text'}" sortable="'firstname'">
                                        {{user.firstname}}
                                    </td>
                                    <td title="'User Name'" filter="{ username: 'text'}" sortable="'username'">
                                        {{user.username}}
                                    </td>
                                    <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                                        {{user.email}}
                                    </td>
                                    <td title="'Display Name'" filter="{ name: 'text'}" sortable="'name'">
                                        {{user.name}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm fa fa-trash" ng-click="deleteuser(user.id)"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6"><a href="#createuser" class="btn btn-block">Add New User</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="createuser.htm">
            <div ng-controller="createcntrl">
                <div class="col-md-12">
                    <div class="row">
                        <ul class="breadcrumb br">Create Users</ul>
                        <hr />
                        <form name="Registrationform" ng-submit="register()">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="form-group">
                                        <label for="email">Email address<span class="reqcol" data-toggle="tooltip" title="this is required field">*</span></label>
                                        <input type="email" class="abc form-control" ng-model="User.email" id="email" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Username<span class="reqcol" data-toggle="tooltip" title="this is required field">*</span></label>
                                        <input type="text" class="abc form-control" ng-model="User.username" id="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Display Name<span class="reqcol" data-toggle="tooltip" title="this is required field">*</span></label>
                                        <input type="text" class="abc form-control" ng-model="User.name" id="display_name" placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">First Name<span class="reqcol" data-toggle="tooltip" title="this is required field">*</span></label>
                                        <input type="text" class="abc form-control" ng-model="User.firstname" id="firstname" placeholder="First Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Last Name<span class="reqcol" data-toggle="tooltip" title="this is required field">*</span></label>
                                        <input type="text" class="abc form-control" ng-model="User.lastname" id="lastname" placeholder="Last Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Password<span class="reqcol" data-toggle="tooltip" title="this is required field">*</span></label>
                                        <input type="password" ng-model="User.password" class="abc form-control" id="password" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="alert alert-info">
                                            <i class="fa fa-info-circle"> For new User you can set the Security Question </i>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="col-md-offset-0 col-md-10 checkbox-inline"><input type="checkbox" ng-model="showsec">Set Security Question</label>

                                    </div>
                                    <div ng-show="showsec">
                                        <br />
                                        <div class="form-group">
                                            <label for="email">Set Sequrity Question</label>
                                            <input type="text" ng-model="User.security_ques" class="abc form-control" id="secquestion" placeholder="Question">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Answer</label>
                                            <input type="text" ng-model="User.seurity_answer" class="abc form-control" id="answer" placeholder="Answer">
                                        </div>
                                        <hr />
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <hr />
                                <div class="col-md-offset-1 container-fluid">
                                    <input type="submit" class="btn btn-success" value="Save" />
                                    <a class="btn btn-danger" href="#manageuser" style="color:white;">Cancel</a>
                                </div>
                            </div>
                        </form>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>
