﻿body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343);
}

.size {
    border-radius: 8px;
    height: 50%;
}

.h1 {
    text-shadow: 1px 1px 2px black, 0 0 25px greenyellow, 0 0 5px chartreuse;
    color: white;
    border-bottom: 2px solid black;
}

.mtop {
    margin-top: 8%;
}


.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background-color: dodgerblue;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
    min-width: 50px;
    text-align: center;
}

form {
    background: white;
    border-radius: 2px;
    box-shadow: 10px,10px,rgb(159, 155, 155);
}

label {
    font-size: 16px;
    color: cadetblue;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff4da6, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    }
}

.mleft {
    margin-left: 2%;
}

.input-field {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid dodgerblue;
    }

.aa {
    padding: 5px 20px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-weight: bold;
    font-size: 15px;
    margin-right: 4%;
}
