﻿
@{
    ViewBag.Title = "Forgotpassword";
}

<script>
    var myapp = angular.module('myapp', []);
    myapp.controller('prcntrl', function ($scope, $http, $window)
    {
        $scope.changepassword = function ()
        {
            $http.post('/Home/updatepassword?password=' + $scope.newPassword).then(function (response)
            {
                alert(response.data);
                if (response.data == "updated")
                {
                    alert("Password Successfully Updated");
                    $window.location.reload();
                }
            })
        }
    })
</script>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-offset-4 col-md-4 table-bordered" style="margin-top:10%">
            <form ng-app="myapp" ng-controller="prcntrl" ng-submit="changepassword()">
                <center><h2>Reset Password</h2></center>
                <label>New Password</label>
                <input class="form-control" type="password" name="password" ng-model="newPassword" placeholder="Password" required />
                <br />
                <center><input type="submit" value="Reset Password" class="btn btn-success" /></center>
                <br />
            </form>
        </div>
    </div>
</div>

