﻿
@{
    ViewBag.Title = "Forgot";
}
<head>
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
    <style>
        .pa {
            margin-left: 10px;
            margin-right: 10px;
        }

        .link-col {
            font-size: 16px;
            float: right;
            color: greenyellow;
            margin-top: 3%;
        }

            .link-col:hover {
                text-shadow: 1px 1px 2px black, 0 0 25px greenyellow, 0 0 5px chartreuse;
            }
    </style>
    <script>
        var app = angular.module("myapp", []);
        app.controller("forgotconroller", function ($scope, $http) {
            $scope.err = false;
            $scope.succ = false;
            $scope.PasswordResetrequest = function () {
                $http.post("/Home/PasswordReset?Email=" + $scope.Email_template.Reciever_Email).then(function (response) {
                    if (response.data =="Successfully Accepted the request") {
                        $scope.succ = true;
                    }
                    else {
                        $scope.err = true;
                    }
                }
                ), function (error) {
                        alert("Hii");
                    }
            }
        });
    </script>
</head>
<body>
    <div class="row">
        <div class="container-fluid">
            <div class="mtop col-md-offset-4 col-md-4 size" ng-app="myapp" ng-controller="forgotconroller">
                <div class="row">
                    <div class="container-fluid" ng-show="err">
                        <div class="row">
                            <span class="alert alert-danger input-container">
                                UserName Or Password is Wrong
                                <i class="btn fa fa-fw fa-window-close" ng-click="err=false" style="margin-left:30%"></i>
                            </span>
                        </div>
                    </div>
                    <div class="container-fluid" ng-show="succ">
                        <div class="row">
                            <span class="alert alert-success input-container">
                                Successfully Sends the mail to your registered mail id
                                <i class="btn fa fa-fw fa-window-close" ng-click="succ=false" style="margin-left:30%"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <form class="fcurve" ng-submit="PasswordResetrequest()" method="post" name="passwordrequest">

                    <center><h1 class="h1">Password Reset</h1></center>
                    <label class="mleft">Email</label>
                    <div class="input-container mleft">
                        <i class="fa fa-fw fa-envelope icon"></i>
                        <input id="email" name="email" ng-model="Email_template.Reciever_Email" type="email" class="abc input-field" placeholder="Email Address" required />
                        <span class="alert-danger" ng-show="passwordrequest.email.$touched && passwordrequest.email.$error.email">Not a valid Email.</span>

                    </div>
                    <center><button type="submit" ng-disabled="passwordrequest.$invalid" class="pa btn btn-primary">Password Reset Request</button></center>
                    <br />

                </form>
                <div class="row">
                    <div class="container-fluid">
                        <a class="navbar-link link-col" href="/Home/index">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
