﻿
@{
    ViewBag.Title = "Login";
}
<head>
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
</head>
<script>
    var app = angular.module("myapp", []);
    app.controller("logincntrl", function ($scope, $http,$window)
    {
        $scope.err = false;
        $scope.checkUser = function ()
        {

            $http.post("/Home/checkuser", $scope.User).then(function (response)
            {

                if (response.data == "") {
                    $scope.err = true;
                }
                else
                {
                    sessionStorage.user = JSON.stringify(response.data);
                    $window.location.href='/Homepage/index';
                }
            }
            ), function (error)
            {
                alert("Hii");
            }
        }
    });
</script>
<body>
    <div class="row">
        <div class="container-fluid">
            <div ng-app="myapp" ng-controller="logincntrl" class="mtop col-md-offset-4 col-md-4 size">
                <div class="row">
                    <div class="container-fluid" ng-show="err">
                        <div class="row">
                            <span class="alert alert-danger input-container">
                                UserName Or Password is Wrong
                                <i class="btn fa fa-fw fa-window-close" ng-click="err=false" style="margin-left:30%"></i>
                            </span>

                        </div>
                    </div>
                </div>
                <form class="fcurve" ng-submit="checkUser()" method="post" name="loginform">
                    <center><h1 class="h1">Login</h1></center>
                    <label class="mleft">Username</label>
                    <div class="input-container mleft">
                        <i class="fa fa-fw fa-user icon"></i>
                        <input id="username" name="username" ng-model="User.username" type="text" class="abc input-field" placeholder="Username" required />
                        <span class="alert-danger" ng-show="loginform.username.$touched && loginform.username.$invalid">Not a valid Username.</span>

                    </div>

                    <label class="mleft">Password</label>
                    <div class="input-container mleft">
                        <i class="fa fa-fw fa-key icon"></i>
                        <input id="password" name="password" ng-model="User.password" type="password" class="abc input-field" placeholder="Password" required />
                        <span class="alert-danger" ng-show="loginform.password.$touched && loginform.password.$invalid">Not a valid password.</span>
                    </div>
                    <a class="navbar-link mleft" href="\Home\Forgot">Forgot Password ?</a>
                    <button id="loginbtn" type="submit" ng-disabled="loginform.$invalid" class="btn btn-success aa">Login</button>
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>
</body>
