﻿
@{
    ViewBag.Title = "Register";
}
<head>
    <link href="~/Content/Login.css" type="text/css" rel="stylesheet" />
    <style>

        .abd {
            width: 50% !important;
            background-color: dodgerblue !important;
        }

        .mrigth {
            margin-right: 3%;
        }

        .tbod tr td {
            border: none !important;
        }
    </style>
    <script>
        var myapp = angular.module("myapp", []);
        myapp.controller("registercntrl", function ($scope, $http,$window)
        {
            $scope.err = false;
            $scope.succ = false;

            $scope.message = "Not a valid email";
            $scope.register = function ()
            {
                var registerbtn = document.getElementById("registerbtn");
                registerbtn.innerHTML = "Registering";


                $http.post("/Home/AddnewUser", $scope.User).then(function (response) {
                    registerbtn.innerHTML = "Register";
                    if (response.data == "Successfull") {
                        $scope.successmessage = "Successfully Registered";
                        $scope.succ = true;
                        $window.location.reload();
                    }
                    else
                    {
                        $scope.errormessage = response.data;
                        $scope.err = true;
                    }
                }), function (error)
                {
                    alert("Hii");
                }
            }
        });
    </script>
</head>
<body>
    <div class="row">
        <div class="container-fluid">
            <div ng-app="myapp" ng-controller="registercntrl" class="mtop col-md-offset-3 col-md-6 size">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10" ng-show="err">
                        <div class="row">
                            <span class="alert alert-danger input-container">
                                {{errormessage}}
                                <i class="btn fa fa-fw fa-window-close" ng-click="err=false" style="margin-left:55%"></i>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-10" ng-show="succ">
                    <div class="row">
                        <span class="alert alert-success input-container">
                            {{successmessage}}
                            <i class="btn fa fa-fw fa-window-close" ng-click="succ=false" style="margin-left:55%"></i>
                        </span>
                    </div>

                </div>
                <br />
                <br />
                <br />
                <form class="fcurve" ng-submit="register()" method="post" name="registerform">
                    <center><h1 class="h1">Register</h1></center>
                    <table class="table tbod">
                        <col width="5" />
                        <col width="300" />
                        <tr>
                            <td>
                                <center>
                                    <label class="mleft mrigth">Display Name</label>
                                </center>
                            </td>
                            <td>
                                <div class="input-container mleft">
                                    <i class="fa fa-fw fa-user icon"></i>
                                    <input id="displayname" name="displayname" ng-model="User.name" type="text" class="abc input-field" placeholder="Display Name" required />
                                    <span class="alert-danger" ng-show="registerform.displayname.$touched && registerform.displayname.$invalid">Not a valid Name.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <label class="mleft mrigth">First Name</label>
                                </center>
                            </td>
                            <td>
                                <div class="input-container mleft">
                                    <i class="fa fa-fw fa-user icon"></i>
                                    <input id="firstname" name="firstname" ng-model="User.firstname" type="text" class="abc input-field" placeholder="First Name" required />
                                    <span class="alert-danger" ng-show="registerform.firstname.$touched && registerform.firstname.$invalid">Not a valid First Name.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <label class="mleft mrigth">Last Name</label>
                                </center>
                            </td>
                            <td>
                                <div class="input-container mleft">
                                    <i class="fa fa-fw fa-user icon"></i>
                                    <input id="lastname" name="lastname" ng-model="User.lastname" type="text" class="abc input-field" placeholder="Last Name" required />
                                    <span class="alert-danger" ng-show="registerform.lastname.$touched && registerform.lastname.$invalid">Not a valid Last Name.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <label class="mleft mrigth">Email</label>
                                </center>
                            </td>
                            <td>
                                <div class="input-container mleft">
                                    <i class="fa fa-fw fa-envelope icon"></i>
                                    <input id="email" name="email" ng-model="User.email" type="email" class="abc input-field" placeholder="Email Address" ng-keyup="checkemail()" required />
                                    <span class="alert-danger" ng-show="registerform.email.$touched && registerform.email.$invalid && registerform.email.$error.email">{{message}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <label class="mleft mrigth">UserName</label>
                                </center>
                            </td>
                            <td>
                                <div class="input-container mleft">
                                    <i class="fa fa-fw fa-user icon"></i>
                                    <input maxlength="12" min="5" id="username" name="username" ng-model="User.username" type="text" class="abc input-field" placeholder="UserName" required ng-pattern="/^[a-zA-Z0-9 -]*$/" />
                                    <span class="alert-danger" ng-show="registerform.username.$touched && registerform.username.$invalid">Not a valid UserName.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <label class="mleft mrigth">Password</label>
                                </center>
                            </td>
                            <td>
                                <div class="input-container mleft">
                                    <i class="fa fa-fw fa-key icon"></i>
                                    <input id="password" name="password" ng-model="User.password" type="password" class="abc input-field" placeholder="Password" required />
                                    <span class="alert-danger" ng-show="registerform.password.$touched && registerform.password.$invalid">Not a valid Password.</span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <center>
                                    <button id="registerbtn" type="submit" ng-disabled="registerform.$invalid" class=" abd btn btn-large btn-primary">Register</button>
                                </center>
                            </td>
                        </tr>

                    </table>

                </form>
            </div>
        </div>
    </div>
</body>

