﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        .wid {
            width: 100% !important;
        }

        .libg {
            background-color: #337ab7 !important;
            border: 1px solid rgb(2, 7, 105) !important;
            border-radius: 2px !important;
            font-family: Georgia;
        }

            .libg a {
                color: white !important;
            }

                .libg a:hover {
                    color: black !important;
                }

        .hi {
            background-color: #f5f5f5;
            border-radius: 5px;
            border: 1px solid rgb(196, 196, 196);
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .fcurve {
            border-radius: 3%;
            background-color: rgb(255, 254, 227)
        }

        .san {
            font-size: 20px !important;
            color: white !important;
        }

        .sn {
            font-size: 18px;
        }

        .san:hover {
            background-color: dodgerblue !important;
        }

        .sn:hover {
            color: white !important;
            background-color: dodgerblue !important;
        }

        .foot {
            background-color: gray;
        }

        .br {
            background: linear-gradient(rgb(78, 68, 68),rgb(82, 67, 67)) !important;
            color: white;
            font-size: 16px;
            border: 2px solid rgb(111, 0, 0);
        }

        .nm {
            border: 1px solid rgb(111, 0, 0);
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand san" href="/Home">REST ENGINE</a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" style="float:right;">
                    @if (Session["User"] == null)
                    {
                        <li><a class="san" href="/home/index"><i class="fa fa-fw fa-sign-in"></i>Login</a></li>
                        <li><a class="san" href="/home/register">Register<i class="fa fa-fw fa-user-plus"></i></a></li>
                    }
                    else
                    {
                        RESTC.UserDirectory.User user = (RESTC.UserDirectory.User)HttpContext.Current.Session["User"];


                        <li>
                            <a class="san dropdown dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-fw fa-user-circle"></i> @user.name <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="sn" href="/Homepage/Profile">Profile</a></li>
                                <li><a class="sn" href="/Homepage/Logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a></li>

                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="mtop foot navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
