﻿<style>
    .ll {
        color: dodgerblue;
    }

    .ly {
        background-color: rgba(144, 144, 144, 0.46);
        color: royalblue;
        border-radius: 2%;
    }

        .ly:hover {
            background-color: dodgerblue;
            color: white;
        }

    .mtop {
        margin-top: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h2 class="ll">@ViewBag.Title</h2>
        </div>
        <div class="col-md-10">
            <br />
            <div class="container-fluid">
                <div class="row">
                    @{
                        RESTC.UserDirectory.User user = (RESTC.UserDirectory.User)HttpContext.Current.Session["User"];
                    }
                    <div class="btn-group btn-group-justified">
                        <a class="ly btn btn-link" href="~/Homepage/Index">Home</a>

                        @if (user.is_sysadmin)
                        {
                            <a class="ly btn btn-link" href="~/Homepage/users">Users</a>
                        }
                        <a class="ly btn btn-link" href="~/Homepage/app">Apps</a>
                        <a class="ly btn btn-link" href="~/Homepage/role">Roles</a>
                        <a class="ly btn btn-link" href="~/Homepage/service">Services</a>
                        <a class="ly btn btn-link" href="~/Homepage/apidocs">Api docs</a>
                        <a class="ly btn btn-link" href="~/Homepage/schema">Schema</a>
                        <a class="ly btn btn-link" href="~/Homepage/data">Data</a>
                        <a class="ly btn btn-link" href="~/Homepage/config">Config</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
